[2016-01-11 13:56] patriknw opened #4 "Improve keyspace and table initialization"
Several related issues from krasserm/akka-persistence-cassandra

Potential race on keyspace initialization: https://github.com/krasserm/akka-persistence-cassandra/issues/148

persistence query streams should work even if schema doesn't exist: https://github.com/krasserm/akka-persistence-cassandra/issues/154

CassandraReadJournal doesn't create metadata table: https://github.com/krasserm/akka-persi

[2016-01-11 13:59] patriknw opened #5 "Silence serialization verification of local messages"
local query journal messages

Originally reported by @countfloyd here: https://github.com/krasserm/akka-persistence-cassandra/issues/153

[2016-01-11 14:00] patriknw opened #6 "avoid blocking Cassandra API calls"
Originally reported in https://github.com/krasserm/akka-persistence-cassandra/issues/137

[2016-01-11 14:01] patriknw opened #7 "Deleting message generates batches of single delete"
Originally reported by @masterzen in https://github.com/krasserm/akka-persistence-cassandra/issues/135

[2016-01-11 14:01] patriknw opened #8 "SSLOptions for Cassandra 3.x?"
Originally reported in https://github.com/krasserm/akka-persistence-cassandra/issues/126

[2016-01-11 14:02] patriknw opened #9 "Very slow replay message request seems to prevent message write to complete"
Originally reported by @masterzen in https://github.com/krasserm/akka-persistence-cassandra/issues/113

[2016-01-11 14:04] patriknw opened #10 "Possibility to set compaction strategy in configuration"
Originally reported by @anderius in https://github.com/krasserm/akka-persistence-cassandra/issues/67

[2016-01-11 14:04] patriknw opened #11 "Schema migration tool"
Originally reported in https://github.com/krasserm/akka-persistence-cassandra/issues/64

[2016-01-11 14:05] patriknw opened #12 "Browsable event journal"
Originally reported by @magnusart in https://github.com/krasserm/akka-persistence-cassandra/issues/50

[2016-01-11 14:30] patriknw opened #13 "Future returned by asyncReplayMessages fails to complete"
Originally reported by @michaeldiamant in https://github.com/krasserm/akka-persistence-cassandra/issues/21

[2016-01-14 13:43] magnusart commented on #12
I propose that this issue is closed.

Since this issue was opened some two things have happened:
- Custom seralizers that can seralize to strings (Json) not only object
- Akka persistence query moving along

This means that some more alternatives are available than previously.

I can now choose to store my events as Json in Cassandra (for example using Scala Pickling to avoid the runtime penalty)

[2016-01-14 15:01] patriknw commented on #12
I don't think you can currently use "any Cassandra compatible DB Browser" to browse the events, because that tool doesn't know how to deserialize the PersistentRepr.

I would like to do not store the PersistentRepr as a serialized blob, but add additional columns and only only store the event as a blob. I think that can be done in a backwards compatible way, but wanted to mention it here also.

[2016-01-14 22:03] magnusart commented on #12
Right, I had to go into the code and look it up. I was under the impression that this was already the case. Now enlightened, I agree that with what you wrote, it is not as easy as I hoped.

As it is now not being able to ad-hoc browse/query data during debugging, incidents, customer support etc is a very limiting factor.

I'd really like for this issue to be resolved in a general fashion with Akka

[2016-01-15 07:19] patriknw commented on #12
Don't we come a long way by storing the event blob (possibly JSON bytes) in a separate column? Then you can use standard tools to select and inspect the events.

I mean, it will of course not be possible to select events based on the data inside the events (arbitary ad-hoc queries). For that you need to create a read-side projection of the events that is indexed in a way that supports the required

[2016-01-15 08:07] sebastiaansamyn-tc commented on #12
I concur with @patriknw, putting the event in its own column solves 90% of the problem. Once that's present, utilities can be built on top of it, because now that's not really possible.

What I did on our current project was to write a utility that reads the event stream for a PersistentActor and just prints out all the events. It's useful for debugging, but pointless for anything else.

[2016-01-15 12:27] patriknw commented on #4
I'll start working on this now

[2016-01-17 13:59] patriknw opened #15 "Asynchronous non-blocking replay"

[2016-01-17 14:00] patriknw commented on #15
Fixed by f34cf8e0206ebb4c7a95940b523ddffd0eee5659 for Cassandra 3.x (we will not backport to 2.x version)

[2016-01-17 14:00] #15 closed

[2016-01-17 14:20] #4 closed

[2016-01-19 15:06] magnusart commented on #12
Alright, so what would be the plan be for managing the switchover to a new schema and what will happen with the old data?

1. Expand the schema to the least common denominator so it can handle both the new fields while maintaining backwards compatibility with the old structure
2. Akka persistence would force a migration of data to be persisted into the new schema?

The second option would be the c

[2016-01-19 15:31] patriknw commented on #12
For this one I think we can do it in a backwards compatible way, old events are read by the `message` column (serialized PersistentRepr) and new events are read by new columns (`message` column is null).

I have started working on this, by the way.

[2016-01-20 09:51] magnusart commented on #12
Aha, cool. I was thinking about looking into it because I was curious and it seemed like a good segway into the codebase. Tell me if I can help. :)

[2016-01-20 19:06] patriknw commented on #12
@magnusart it would be great if you can complete what I have started. Pushed my current state here: https://github.com/akka/akka-persistence-cassandra/pull/21
We can discuss in the PR. E.g. of missing things:
* verify that it really works :-)
* verify backwards compatibility, i.e. populate data with old version and then switch over
* add notes about migration
* see if we can do the same for snapsh

[2016-01-20 20:43] magnusart commented on #12
Sure, I'll have a look.

[2016-01-20 21:18] magnusart commented on #12
@patriknw I had a quick look and started thinking about how to verify that it really works. I'd really like to have a test for it since it would be *very* time consuming to go back and forth when debugging issues related to the migration if I have to do the migartion manually each time.

**I'm considering the following approach:** take one of the snapshot tests and pause it just before it exits, e

[2016-01-22 06:41] patriknw opened #22 "possibility to disable materialized view"
configuration property to skip materialized view in case eventsByTag query is not needed

[2016-01-22 08:23] magro commented on #22
What do you think about setting skipped to true by default? I'd assume that it should work if one decides later to use it and enables materialized views / eventsByTag support for an existing event log.

[2016-01-22 08:38] patriknw commented on #22
I'd rather have things working out of the box, and make it possible to disable as tuning. I'll see if I can make creation of the materialized view lazy so it's not even created until some events are tagged.

[2016-01-22 10:07] patriknw opened #24 "failed: CassandraSslSpec"
When running tests after https://github.com/akka/akka-persistence-cassandra/pull/19 the CassandraSslSpec* fails on my machine (osx).

[code]

[2016-01-22 10:08] patriknw commented on #24
@magnusart do you know anything about this?

[2016-01-22 10:32] magro commented on #22
Ok, sounds good.

[2016-01-22 11:31] patriknw commented on #8
I consider this done by @magnusart in https://github.com/akka/akka-persistence-cassandra/pull/19 since ssl tests were enabled again.

[2016-01-22 11:31] #8 closed

[2016-01-22 14:30] magnusart commented on #24
@patriknw do you have JCE Java Cryptography Extensions installed? Looks like the US Export laws are the limiting factor.

http://www.oracle.com/technetwork/java/javase/downloads/jce-7-download-432124.html

[2016-01-22 14:36] patriknw commented on #24
ok, but even if I install that and it works I think this can be too annoying for random contributors.
Is there a way to make the tests optional by checking if they are installed? I did a workaround here, but it checking the wrong thing: https://github.com/akka/akka-persistence-cassandra/commit/1614e4094b7b960ac708e4ed7c0fbfbcf2c12ff8

[2016-01-22 15:06] magnusart commented on #24
Try this instead.

[code]

[2016-01-24 07:50] #22 closed

[2016-01-24 07:51] #5 closed

[2016-01-24 07:51] #24 closed

[2016-01-24 19:32] #7 closed

[2016-01-24 20:04] patriknw opened #30 "remove src/test/resources/reference.conf"
use something else to set common test properties
it is causing trouble when debugging in IDE

[2016-01-24 21:19] patriknw commented on #7
@masterzen I have improved this, see https://github.com/akka/akka-persistence-cassandra/issues/29

[2016-01-26 17:59] atamborrino opened #35 "compatibility issue with Cassandra 2.1.9 (protocol v3)"
Hi,

We just updated akka-persistence-cassandra from 0.6 to 0.7. We are using Akka Cluster Sharding in our project. We are using Cassandra 2.2.x.

Persistence-cassandra + Sharding worked smoothly with 0.6, but with 0.7 we have the following error when the TaskManagerCoordinator tries to persist a ShardRegionRegistered event:
[code]

[2016-01-26 18:30] patriknw commented on #35
Have you migrated the schema? See https://github.com/akka/akka-persistence-cassandra#migrations-from-06-to-07
Also note the `cassandra-2x-compat` setting, as explained in README.

[2016-01-26 19:15] atamborrino commented on #35
Yes we have followed the README: drop old event and snapshot keyspaces (to test with clean data) and put ```cassandra-journal.cassandra-2x-compat=on```

From the error and the concerned code https://github.com/akka/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/journal/CassandraJournal.scala#L207, it seems that if there is no tag, the Cassandra "tag" statements ar

[2016-01-26 19:43] patriknw commented on #35
Looks like you are right. Hmm, we have plenty of tests that store events that are not tagged, so I can't understand why they don't detect this. I'll look a bit at this tomorrow and release a patch.
Thanks for reporting.

[2016-01-27 06:48] patriknw commented on #35
I found the reason, L558 in SessionManager:
[code]

so it's not mandatory use null for v4 of the protocol, but when using C* 2.2 the protocol is v3

[2016-01-27 06:54] patriknw commented on #35
but according to the source code of ProtocolVersion and https://datastax.github.io/java-driver/features/native_protocol/ V4 should be supported by 2.2.0 or later. Exactly which Cassandra version are you using?

[2016-01-27 06:56] patriknw commented on #35
When I ran tests against a 2.2.4 server I did not see this issue.

[2016-01-27 09:30] atamborrino commented on #35
You're right, our test env stack use Cassandra 2.1.9. But according to the README it should be supported, so I think we can put null values when there is not tag for all Cassandra version.

[2016-01-27 09:33] atamborrino commented on #35
Do you have time to fix the issue or do you want me to do a PR?

[2016-01-27 11:37] patriknw commented on #35
@atamborrino I have fixed it: https://github.com/akka/akka-persistence-cassandra/pull/36

[2016-01-27 13:28] atamborrino commented on #35
Thanks, I'll be waiting for a published patched version :)

[2016-01-27 14:14] yoseldvp opened #37 "Akka persistence not working on 2.4.2_RC1"
I just migrated to the new version of the plugin using the new version of akka, and i'm getting a class not found exception.

I'm using Java 1.8, with akka 2.4.2_RC1 and the 0.7 version of the akka-persistence-cassandra plugin

[code]

[2016-01-27 16:37] patriknw commented on #37
In short: try version 0.8 that was build for Akka 2.4.2-RC1, see README for instructions.

That is expected. 0.7 was for the persistence-query-experimental api that was defined by Akka 2.4.1, using akka-stream-experimental 1.0. Akka 2.4.2-RC1 includes latest akka-stream with changed api, and therefore changed persistence-query-experimental.

[2016-01-27 16:37] #37 closed

[2016-01-27 16:39] #35 closed

[2016-01-27 17:33] atamborrino commented on #35
Any chance to have a published patched 0.7.1 version ? We can not use 0.9-snapshot yet because we are using a lib that depends on akka-stream 2.0 that is not binary compatible with Akka 2.4.2-RC1.

[2016-01-28 10:00] patriknw commented on #35
but 0.7 was not for akka-stream 2.0, it was using akka-stream 1.0

[2016-01-28 14:49] atamborrino commented on #35
Ah yes you're right, we missed that. We'll stay on 0.6 for cassandra 2.x for now (which has no deps on akka-stream) and then we'll do the schema migration later on to 0.8+.

Thanks for your help ;)

[2016-01-28 14:59] patriknw commented on #35
sounds good, thanks

[2016-01-29 21:41] rkuhn opened #38 "use Travis cache to speed up build"
see [here](https://github.com/akka/akka-persistence-dynamodb/blob/b6d66037cbeaf03885f9a3c7e7428ec6902e4905/.travis.yml#L10) for an example; shaves 3min off the build time

[2016-02-01 06:00] pjan opened #39 "Cassandra compatibility"
Hi,

we had an issue today with the 0.8 release in conjunction with cassandra 2.1.7 as well as 2.1.9. The following error was reported:

[code]

Bumping cassandra to 2.2.4 resolved it for us. Just so you know/are aware of this

[2016-02-01 09:33] #38 closed

[2016-02-01 10:59] #30 closed

[2016-02-01 12:43] patriknw commented on #39
This is a duplicate of https://github.com/akka/akka-persistence-cassandra/issues/35
I have just released 0.9 which should fix this. Will be available at maven central shortly

[2016-02-01 12:43] #39 closed

[2016-02-10 16:43] patriknw opened #45 "publishSigned"
@2m and @rkuhn discovered an issue with publishSigned combined with the ReleasePlugin in another project and suggested adding:

`override def requires = sbtrelease.ReleasePlugin to object Publish extends AutoPlugin { ... }`

[2016-02-11 10:25] SamanSattari opened #46 "Possibility to use Cassandra Cluster Metrics"
Feature request:
After connecting to Cassandra,  session has a registry of metrics. These metrics give insight into Cassandra cluster performance. It would be nice to have the option to retrieve these metrics from session in order to push to a Graphite Server.

[2016-02-12 06:05] patriknw commented on #46
What would the API look like? You want it to be accessible from your Akka application/PersistentActor?

[2016-02-12 09:28] SamanSattari commented on #46
If metric registry could be retrieved, then the client application can decide in what medium they use the metrics (graphite, log, etc.).
So I was thinking in CassndraJournal and CassandraSnapshotStore can be implement by:
[code]
Or something similar.
and in CassandraReadJournal there can be an additional method that retrieves registry.

[2016-02-12 09:36] patriknw commented on #46
ok, that would be an Akka extension then. Makes sense.

[2016-02-12 09:50] SamanSattari commented on #46
Is it OK if I work on it?

[2016-02-12 09:54] patriknw commented on #46
Absolutely, contributions are welcome.

[2016-02-12 15:17] patriknw opened #48 "too large batches"
Due to the removal of the `max-message-batch-size` in https://github.com/akka/akka/issues/19694 we can easily hit the max batch size limit (batch_size_fail_threshold_in_kb).

`CassandraJournalPerfSpec` blows up with `max-message-batch-size = 500`.

[2016-02-13 09:13] magro commented on #48
@patriknw FYI: C* currently mistakenly applies the batch_size_fail_threshold_in_kb to single partition batches as well, this will be changed/fixed with https://issues.apache.org/jira/browse/CASSANDRA-10876.

[2016-02-13 09:39] patriknw commented on #48
Thanks, that is good to know.

[2016-02-14 17:57] #45 closed

[2016-02-14 17:58] #48 closed

[2016-02-14 17:59] patriknw opened #50 "ensure readHighestSeqNr is done after pending write"
readHighestSequence must be performed after pending write (persistAsync) for a persistenceId when the persistent actor is restarted. It seems like C* doesn't support session consistency so we handle it ourselves. https://aphyr.com/posts/299-the-trouble-with-timestamps

Credit to @rkuhn for noticing this issue in https://github.com/akka/akka-persistence-dynamodb

[2016-02-14 17:59] patriknw opened #51 "don't serialize in the journal actor's thread"
Can be a bottleneck when using many persistent actors.

[2016-02-14 19:15] #50 closed

[2016-02-14 19:39] #51 closed

[2016-02-15 09:24] huntc opened #54 "Resolve Cassandra's host and port dynamically"
[Akka Persistence Cassandra](https://github.com/akka/akka-persistence-cassandra) presently assumes that a Cassandra cluster is accessible at a fixed set of IP addresses. While this may be the case for large Cassandra clusters, it is likely so for smaller Cassandra clusters that are associated with microservices.

This problem can be resolved by handling a `Future[Option[(InetAddress, Int)]]` each

[2016-02-16 12:42] merlijn commented on #46
@SamanSattari

Are you actively working on this? If not, I (or rather, we) can pick this up. We really require this feature for our application and could get time to make a PR.

[2016-02-16 12:49] SamanSattari commented on #46
@merlijn Hi I am almost done with it. I will make the pull request today or tomorrow.

[2016-02-16 12:55] merlijn commented on #46
@SamanSattari Great, thanks for the quick response!

[2016-02-16 19:39] #12 closed

[2016-02-16 23:14] filosganga opened #55 "The configured EventAdapters are not used by the CassandraReadJournal queries"
Given a configuration:

[code]

The configured event adapters are used only to write to the journal and when a event is replayed in a PersistentActor. They are not used by the CassandraReadJournal queries.

The LevelDbReadJournal call the configured event-adapters also for queries instead.

[2016-02-17 08:20] patriknw commented on #55
That is a good observation, thanks.

[2016-02-17 12:43] filosganga commented on #55
I have digged a little into LevelDb implementation:
LevelDb implement the ReadJournal on top of the LeveldbJournal, so it will use the existing private `adaptFromJournal` method from the base Journal class. The Cassandra plugin instead do the reverse and implement the CassandraJournal on top of the query system, that seems a reasonable approach to me.

Is it not possible to apply EventAdapter afte

[2016-02-18 08:16] patriknw commented on #10
This was already done, so should be in included in v0.7 and later

[2016-02-18 08:17] #10 closed

[2016-02-18 08:29] filosganga opened #58 "The allPersistenceIds() query returns all the configured tags as well."
The queries `allPersistenceIds()` and `currentPersistenceIds()` return also the configured tags.

[2016-02-18 09:03] patriknw commented on #55
@filosganga  I agree, would you like to contribute with a pull request?

[2016-02-18 10:36] filosganga commented on #55
I would love to. I have already started looking into that.

[2016-02-18 10:37] patriknw commented on #55
thanks

[2016-02-18 13:39] andrea-zoleo commented on #55
Hi,

I have the same (I think) problem using eventsByTag call.

To use it, I need a TaggingEventAdapter registered on events-adapter to wrap events Tagged(...) envelope, but the  TaggingEventAdapter is not used.

There is an alternative approach in order to have eventsByTag working for CassandraReadJournal ?

[2016-02-18 13:50] patriknw commented on #55
It's the same with all queries.

`akka.persistence.journal.Tagged` is special though, it's unwrapped on the write side, before storing

[2016-02-18 13:59] andrea-zoleo commented on #55
I don't know if i have understood @patriknw answer,
but as workaround, I persist directly a Tagged(myEvent,..) instead of myEvent,
skipping the need of custom TaggingEventAdapter.

[2016-02-18 14:44] patriknw commented on #55
That was not my intention. You can still use an event adapter on the write side that wraps the events in `akka.persistence.journal.Tagged` and since that is not stored like that the lack of event adapter on the query side does not matter for `Tagged`.

[2016-02-19 12:22] DomBlack opened #62 "Keyspace creation fails permanently if a PoisonPill is sent to the only PersistentActor"
Note: This title of this issue might be wrong, we've spent the last 3 hours try to diagnose this issue and that title is the best we can do to describe it.

Our initial start of our application sees that between the startup of the first PersistentActor and that actor becoming ready took 1 minute 22 seconds (when we allow it to complete):

[code]

During that time the actor in question had schedule

[2016-02-19 12:36] patriknw commented on #62
Sounds interesting, but hard to see what can be wrong. There are still some blocking things in the initialization of the CassandraJournal actor, and that might prevent progress if something hangs there. Just a wild guess so far. Can you take a few thread dumps when you see the problem?

[2016-02-19 15:06] andrea-zoleo commented on #55
I'm unable to configure my EventAdapter for cassandra.
In my application.conf I have put:
akka {
  persistence {
    journal {
      plugin = "cassandra-journal"
      cassandra-journal {
        event-adapters {
          tagging        = "mypkg.TaggingEventAdapter"
        }
        event-adapter-bindings {
          "services.account.AccountsActor.EmailConfirmed" = tagging
        }
      }

[2016-02-19 15:13] patriknw commented on #55
is `AccountsActor.EmailConfirmed` scala? if it's in the companion object the class name is `services.account.AccountsActor$EmailConfirmed`

[2016-02-19 15:41] andrea-zoleo commented on #55
Ok, I have fixed the event name in config, but it still doesn't work.
There is somewhere a cassandra / EventAdapter code example with config file that I can explore?

[2016-02-19 15:54] patriknw commented on #55
https://github.com/filosganga/akka-persistence-cassandra/blob/wip-%2355-query-event-adapters/src/test/scala/akka/persistence/cassandra/query/EventsByTagSpec.scala#L51

Your config is in wrong section, it should be:
[code]

[2016-02-19 16:06] andrea-zoleo commented on #55
That fixes it!
Thanks a lot, you are a Hero!
My wrong assumption about config came from akka docs:
[code]
in [Akka docs](http://doc.akka.io/docs/akka/2.4.1/scala/persistence.html#Event_Adapters).

[2016-02-19 18:16] filosganga commented on #55
Because the `akka.persistence.journal.inmem` is the `journalPluginId`

[2016-02-21 02:10] stascode opened #64 "Type mismatch at akka clustering PersistentShardCoordinator during deserialization"
Steps to repro:
1. Use both akka-cluster-sharding and akka-persistence-cassandra in the project
2. Initialize clustered system by invoking ClusterSharding(system).start(...,typeName="MyClusteredSystem",...).
3. Run the app
4. Stop/kill the app after a while
5. Run the app again - exception is thrown:

[ERROR] akka.cluster.sharding.PersistentShardCoordinator! Persistence failure when replaying even

[2016-02-21 08:16] patriknw commented on #64
That looks like a critical issue, but I wonder why we have not seen it anywhere else. I'm also puzzled by the exception, "scala.runtime.BoxedUnit cannot be cast to akka.Done" at
https://github.com/akka/akka-persistence-cassandra/blob/v0.10/src/main/scala/akka/persistence/cassandra/journal/CassandraRecovery.scala#L48

Can you please double check what version of akka-stream that you in your classpat

[2016-02-21 18:12] stascode commented on #64
Thanks for the hint! Somehow I was mislead in referencing akka-stream-experimental_2.11-2.0.3. Updated to akka_stream_2.11-2.4.2 and the issue is gone!

[2016-02-21 19:12] #64 closed

[2016-02-21 19:42] patriknw commented on #64
yes, that explains it

[2016-02-21 23:28] magro commented on #54
Just a thought: wouldn't it be more generic to allow to inject a Session? Then this SessionProvider can do what it wants. The default one would just build upon the existing configuration.

[2016-02-22 07:48] patriknw commented on #54
@magro that is an interesting thought, I'll take a look at that when completing this

[2016-02-22 07:50] #55 closed

[2016-02-22 09:10] masterzen commented on #54
+1 for injecting the Session, that would allow a node to share a Session for some other code not using Akka Persistence.

[2016-02-22 09:42] patriknw opened #65 "mark internal API"
originally there was no API, but now there are a few things that are public API

set right visibility and INTERNAL API markers

[2016-02-22 12:30] #46 closed

[2016-02-22 13:12] andrea-zoleo opened #66 "Not adjacent sequence number in EventsByTagPublisher"
Hi,
using CassandraReadJournal, eventsByTag stream correctly push the tagged event to the stream consumer when in an actor I write a first tagged event in the Journal via persist call,
but when I write a second tagged event, the stream push nothing and after 30 seconds the system logs:
[error] ...-a.p.c.q.EventsByTagPublisher: query chunk aborted for tag [...], timBucket [20160222],  expected sequ

[2016-02-22 13:34] matlockx opened #67 "Repo not searchable"
Unfortunately this repo is a fork which means that it is not searchable by default until it gets more stars than the parent fork (afaik).
Maybe the parent fork can be deleted (but I do not know whether it solves the problem) or this repo can be deleted and re-created without the fork link?

[2016-02-22 15:25] patriknw commented on #67
what do you mean by searchable? what search is that?

[2016-02-22 15:33] patriknw commented on #66
You don't tag all events? Probably you persisted 13 and 15 with the tag, but 14 was not tagged. That is indeed an oversight by me.

[2016-02-22 15:48] andrea-zoleo commented on #66
You are right. I don't tag all events, but the only ones for those I want the views to be updated.
Is it mandatory to tag all events?

[2016-02-22 15:50] matlockx commented on #67
Use the github search on the gihtub.com page for this repo. Search for something that should be there, e.g. timebucket and you do not find a thing although there are a lot of code lines containing the word timebucket

[2016-02-22 18:53] patriknw commented on #66
this is a bug, I'll fix it tomorrow

[2016-02-23 07:13] patriknw commented on #13
@michaeldiamant can I close this issue or do you have any more information about it?

[2016-02-23 07:28] #54 closed

[2016-02-23 07:46] patriknw commented on #58
@filosganga I can't reproduce this and I see nothing in the code that indicates that it would include tags in `allPersistenceIds()`.

I tried to add the following in the `EventsByTagSpec` and it does not fail:
[code]

[2016-02-23 12:53] michaeldiamant commented on #13
No further information, please close this issue.

On Tue, Feb 23, 2016 at 2:13 AM, Patrik Nordwall <notifications@github.com>
wrote:

[2016-02-23 13:02] #13 closed

[2016-02-23 13:54] #66 closed

[2016-02-24 08:50] filosganga commented on #58
Hi Patrik,
I will try to reproduce it today. If it doesn't happen anymore we can close
this issue
On 23 Feb 2016 7:47 a.m., "Patrik Nordwall" <notifications@github.com>
wrote:

[2016-02-26 14:18] patriknw commented on #62
@DomBlack Can you try to change the dispatcher to something like:
[code]

[2016-02-26 14:39] DomBlack commented on #62
Unfortunately I don't have the time at the moment to retest that setup, we'll make the config change, but we won't be in the position to retest the problem for a couple of weeks.

I was hoping to create a test project which demoed the issue which I could share from the point of debugging.

[2016-02-26 14:41] patriknw commented on #62
ok, no problem

[2016-02-26 19:34] yoseldvp opened #70 "0.11 Failing to connect to cassandra db"
I've been using the 0.7 version of the plugin so far without much problems. Since we are writting a new application, we decided to go with the newer version, but now the plugin is unable to connect to our dev cassandra database.

The message i get is:

`Failed to connect to Cassandra and initialize. It will be retried on demand. Caused by: All host(s) tried for query failed (tried: /172.30.255.78:

[2016-03-08 11:41] MQ-EL opened #71 "Improve test"
Hey, how about using [ccm](https://github.com/pcmanus/ccm) and [scassandra](http://scassandra-docs.readthedocs.org/en/latest/) for test?
-  _ccm_ would make cross-version or under cluster test enable.
- _scassandra_ especially aimed edge case test, e.g. config the delay time of query response.

If needed, I could create PR for preview

[2016-03-08 11:52] patriknw commented on #71
sounds interesting, at least as a complement

looks like ccm requires several external tools, which might be problematic for build servers and external contributors

scassandra looks interesting, especially if the startup time is quicker, but we would also like to test with the real thing

A PoC PR would be very interesting, thanks.

[2016-03-09 14:19] minisaw opened #72 "deadlock in cassandra-snapshot-store plugin"
i have 10 persistent actors, and a cassandra-snapshot-store enabled.

upon system startup, akka persistence issues a LoadSnapshot message to the snapshot store for each of my actors (10 messages total).

they all try acquiring a cassandra connection at CassandraSnapshotStore:55:
55: private[this] lazy val cassandraSession: CassandraSession

by default, the journal's "default-dispatcher" has parall

[2016-03-09 16:40] minisaw commented on #72
there is also this message observed in logs that might be pertinent to the issue:

ERROR [...-cassandra-snapshot-store.default-dispatcher-12][i.n.util.ResourceLeakDetector][] - LEAK: You are creating too many HashedWheelTimer instances.  HashedWheelTimer is a shared resource that must be reused across the JVM,so that only a few instances are created.

[2016-03-09 17:50] patriknw commented on #72
Thanks for reporting. The blocking initialization is indeed a problem and it will be solved by issue https://github.com/akka/akka-persistence-cassandra/issues/6
It's my top priority issue for this project.

[2016-03-11 09:33] patriknw commented on #70
@yoseldvp thanks for reporting, but I have no clue what can be causing this. We have not seen any such problems. What version of Cassandra server are you using?

[2016-03-11 17:30] yoseldvp commented on #70
I was using cassandra 3.0.2.

[2016-03-12 07:36] patriknw commented on #70
Ok, good. How can we reproduce it?

[2016-03-25 16:15] mkhudyakov opened #73 "No persisted events are replayed on recovery. `RecoveryCompleted` is received though"
Please, see my comment on stackoverflow http://stackoverflow.com/questions/36223040/events-are-not-recovering-in-akka-2-4-0-persistence-cassandra-journal-plugin-0

[2016-03-27 19:48] patriknw commented on #73
It works fine for me. Please use Akka 2.4.2 and akka-persistence-cassandra 0.11

[2016-03-27 20:47] mkhudyakov commented on #73
Patrik, thanks for your answer. It looks like the problem is detected now.
I've updated akka to the version `2.4.2` and akka-persistence-cassandra to the version `0.11` and still had an issue, where the events were not replaying, though the `RecoveryCompleted` was received.

I thought then, that the issue could be in Cassandra version that I use. I use DSE 4.7 (where Cassandra version is `2.1.x`)

[2016-03-28 07:32] patriknw commented on #73
Do you see anything in the logs?
Did you try with a clean keyspace? Old schemas might need migrations.

[2016-03-28 08:47] mkhudyakov commented on #73
The logs on my side looks like there is no error. Here is the log, when the events are replayed (on Cassandra 3.x):
[code]
... so here I receive next sequence of events, that is correct:
[code]

then, when I switch to the cassandra of version 2.x, the log file looks like:
[code]
... and the sequence of events is the next one:
[code]
... that is not correct as I receive `RecoveryCompleted` immediat

[2016-03-28 08:50] mkhudyakov commented on #73
And forgot to mention, no migration takes place in this test - the keyspace is the new one with no tables.

[2016-03-31 07:10] patriknw commented on #73
I will look into this, but the rest of this week is fully booked.

[2016-03-31 13:39] mkhudyakov commented on #73
Thank you very much, @patriknw, I've tried to play with other versions of cassandra - 4.8.3 & 4.8.4 - and I do get the expected behavior of `akka-persistence-cassandra` - the events are being replayed. So at this point the question is no more actual for me. However, the above mentioned issue seems to be there.

[2016-04-02 14:42] kpbochenek commented on #72
I started to use snapshots and deadlocking on start sounds very bad.

CassandraSnapshotStore is an actor and on PreStart we can see:
 `self ! CassandraSnapshotStore.Init`

And receive is simply synchronous initialization of session:
`case CassandraSnapshotStore.Init => try { cassandraSession }`

but there is also a part of receive:
`case LoadSnapshot(persistenceId, criteria, toSequenceNr) ⇒ ...`
w

[2016-04-02 16:09] patriknw commented on #72
I agree that we must fix this. I will make sure that it fits in next sprint, starting on monday.

[2016-04-07 08:40] patriknw commented on #72
Pull request: https://github.com/akka/akka-persistence-cassandra/pull/74

[2016-04-07 08:41] patriknw opened #75 "rewrite RowIterator"
In https://github.com/akka/akka-persistence-cassandra/pull/74 I have removed almost all blocking calls.

The remaining blocking is in the RowIterator that is used for loading snapshot metadata and the RowIterator that is used when deleting events (ReadLowestSequenceNr). That blocking is now contained by a separate dispatcher, but it would be good to rewrite the RowIterators.

[2016-04-08 13:04] pbarron opened #77 "The recovery mechanism for the journal does not work for multiple defined journals."
The current implementation assumes there is only one journal when recovering. As a result when you define an additional journal the persistent actor fails to recover as it uses the default cassandra-query-journal configuration which points (cassandra-query-journal.write-plugin) to the default journal (cassandra-journal).

This pull request (#76 ) fixes the problem by making the cassandra-query-jou

[2016-04-11 18:43] rafalsiwiec opened #79 "Tables auto-creation should be configurable"
Auto-creation of tables for Journal/SnapshotStore is currently hard-coded.
It would be good to expose it via configuration.

[2016-04-11 22:29] pbarron commented on #77
PR merged.

[2016-04-11 22:29] #77 closed

[2016-04-12 05:32] patriknw opened #81 "Config refactoring: Enforce one-to-one between the write and the query plugins"
It must be one-to-one between the write and the query plugins. It would be more elegant if we could enforce that in the configuration. I'm thinking if we can do that the query journal is always a sub-section of the write journal config.

[code]

Then we would not need these `query-plugin` and `write-plugin` cross references.

To implement that we need: akka/akka#19822

[2016-04-12 06:15] #79 closed

[2016-04-12 11:26] patriknw opened #82 "toSequenceNumber not used when deleting messages in cassandra-2x-compat mode"

[2016-04-12 12:55] #72 closed

[2016-04-12 12:55] #6 closed

[2016-04-12 13:14] patriknw commented on #82
After debugging this I found that the sequence number is in fact used. It is passed to `partitionInfo`
https://github.com/akka/akka-persistence-cassandra/blob/v0.11/src/main/scala/akka/persistence/cassandra/journal/CassandraJournal.scala#L353

Anyway, I enabled another test for this: https://github.com/akka/akka-persistence-cassandra/pull/83

[2016-04-12 13:14] #82 closed

[2016-04-12 13:35] patriknw commented on #73
I have run all relevant tests with Cassandra 2.1.6 several times and no failures. I'm trying the linked project now.

[2016-04-12 13:52] patriknw commented on #73
I ran https://github.com/mkhudyakov/poc-persistent-fsm with Cassandra 2.1.6 without any problems (as far as I can see). The replayed events are before recover completed:

[code]

[2016-04-15 17:24] briantopping opened #85 "Snapshots @ Sonatype (Travis?)"
Looks like the build is configured to push to Sonatype, but there are no snapshots there. Does this project need to be added to Travis?

[2016-04-15 18:07] patriknw commented on #85
Do we need snapshots? I'd rather publish real releases often. Sorry for the delay of 0.12. We were investgating some serious bugs, that most likely were due to old Cassandra version. I'll publish 0.12 on Monday, or earlier.

[2016-04-15 19:18] briantopping commented on #85
Thanks Patrik, no need to apologize, I was just needing to eliminate a dependency on `com.typesafe.akka:akka-cluster-tools_2.11:2.4.2`.

This is a dependency that changes a lot in my project, so I thought it would be good to have access to snapshots. We'll live either way :)

[2016-04-17 14:03] rafalsiwiec opened #86 "CassandraJournal should use cassandra-journal.read-consistency for queries used during events replay"
As `CassandraJournal` uses `CassandraReadJournal` internally, `cassandra-query-journal.read-consistency` is being used.

[2016-04-18 06:12] #86 closed

[2016-04-18 06:20] patriknw commented on #73
Closing this, since I can't reproduce it. I suspect issues with the static column in 2.1.x versions of C*.

[2016-04-18 06:20] #73 closed

[2016-04-18 06:21] patriknw commented on #70
@yoseldvp any news here?

[2016-04-18 06:23] patriknw commented on #58
@filosganga please reopen if this is still a problem

[2016-04-18 06:23] #58 closed

[2016-04-18 07:07] patriknw commented on #85
Closing this for now. We might start with snapshots after 1.0, but now we can easily cut new 0.x releases when needed. 0.12 has been released now.

[2016-04-18 07:07] #85 closed

[2016-04-18 07:10] patriknw commented on #62
@DomBlack I have released 0.12 which includes a big refactoring to eliminate the blocking. There are a few more left but those are contained with a separate dispatcher for now.
https://github.com/akka/akka-persistence-cassandra/issues?q=milestone%3A0.12

Note that the dispatcher settings have been changed. https://github.com/akka/akka-persistence-cassandra/blob/v0.12/src/main/resources/reference.c

[2016-04-18 18:49] yoseldvp commented on #70
Sorry for the delayed answer. The connection to cassandra is working pretty good now, seems like it was some discovery issues due to the infrasctructure the app was running on.

Thanks

[2016-04-18 19:32] patriknw commented on #70
Thanks for the update, then I'll close this.
0.12 is released now, by the way.

[2016-04-18 19:32] #70 closed

[2016-04-19 08:07] mkhudyakov commented on #73
Thank you, @patriknw, for your effort. As the upgrade of DSE to version 4.8.4 did help me, this problem is no more the problem. Thank you for fast feedback

[2016-04-19 20:34] p-kozlov opened #88 "CassandraIntegrationSpec uses deprecated PersistentView"
[code]

[2016-04-20 04:33] patriknw commented on #88
That would be great. Would you like to contribute?

[2016-04-20 08:49] p-kozlov commented on #88
Yes, perhaps. As soon as I understand how all of this works.
I tried to start from running all tests ```sbt test``` and most of them tail. Should I start cassandra locally on 127.0.0.1 before running tests or is it started automatically?

[2016-04-20 09:57] patriknw commented on #88
Cassandra is started automatically by the tests.

[2016-04-21 20:24] p-kozlov commented on #75
@patriknw by rewriting iterator and removing blocking from it do you mean replacing iterators with observables? Or akka streams?
Iterator is always blocking by it's nature - there is not way to implement scala.collection.Iterator which is non-blocking. Only if replace Iterator[T] with Iterator[Future[T]] ?

[2016-04-21 22:17] p-kozlov commented on #75
The problem which I see here.
Suppose I have future of session + future of prepared statement. I can get Future[java.util.Iterator[Row]]
[code]

[2016-04-22 11:18] patriknw opened #89 "reconnect doesn't work if C* is started after the app"
regression in 0.12, introduced in the refactoring
the prepared statements are cached in `lazy val` and will therefore not be retried

[2016-04-22 13:21] #89 closed

[2016-04-22 15:24] patriknw commented on #75
Yeah, the remaining two iterators must go away. We should do it with streams, similar to what we have done for the queries. Another inspiration might be Lagom's stream based `select` that I wrote a while ago: https://github.com/lagom/lagom/blob/master/persistence/src/main/scala/com/lightbend/lagom/internal/persistence/cassandra/CassandraSessionImpl.scala#L217

[2016-04-24 07:01] p-kozlov commented on #88
Yes, tests failed by my mistake - I had wrong hostname in my /etc/hosts. Everything is fine now.

[2016-04-24 07:12] p-kozlov commented on #75
@patriknw please take a loot at this https://github.com/akka/akka-persistence-cassandra/pull/91
I have rewritten the RowIterator (completely removed class, replaced metadata method with Future.flatMap with recursive function). By the way, iterate function is not tail-recursive because the call is inside flatMap, I hope it should not be a problem.
Have no idea how to write the same thing with strea

[2016-04-26 14:27] ktoso opened #93 "Allow setting delayedEventTimeout for given query"
Depending on which query I run, sometimes I want delayedEventTimeout and sometimes not,
expose it in API, not only in config fle

[2016-05-10 09:50] atamborrino opened #95 "PersistentShardCoordinator recover issue with Casssandra 2.2.4"
Hello,

I am experiencing an issue with Akka Sharding 2.4.4 backed by Akka Persistence Cassandra 0.14  with Cassandra 2.2.4.

My config is the following:
[code]

The first time I run my node, the keyspace and tables are created fine and the system is running (events are put in akka_sharding.messages).
However, when I stopped and restarted my node, akka.cluster.sharding.PersistentShardCoordinator f

[2016-05-10 10:14] patriknw commented on #95
The config relation between the write and the query parts are a bit messy at the moment. We will improve that in https://github.com/akka/akka-persistence-cassandra/issues/81

What you have missed is to configure the relation between the `query-plugin` and the `write-plugin`. It should be:

[code]

Let me know if that helps.

[2016-05-10 12:16] atamborrino commented on #95
Thanks for your quick response, the issue is gone!

[2016-05-10 12:16] #95 closed

[2016-05-10 12:17] patriknw commented on #95
You're welcome.
Yeah that config must be improved.

[2016-05-12 20:48] magnusart opened #96 "Group batch writes based on how much data will be sent to cassandra"
Akka persistence batches requests under the hood. When the batch becomes to large the Cassandra server will reject the write (default 50KiB).

I want control over how much data akka persistence cassandra will include in one write batch. My use case is log files which means that the size can vary from message to message. Therefore it would make most sense to expose a setting that would allow the us

[2016-05-12 21:00] magnusart commented on #96
For the record I can get by with `cassandra-journal.max-message-batch-size` but that means I have to guesstimate how many messages would fit within 50 KiB and when it changes I have to restart the service.

[2016-05-13 05:43] patriknw commented on #96
Conversation here: https://gitter.im/akka/akka-persistence-cassandra?at=5734a1421794136a7d080584

[2016-05-14 10:01] MQ-EL commented on #71
sorry for late, i will work on it In recent weeks.

[2016-05-27 06:13] t3hnar opened #97 "Serialise PersistentRepr as Json"
I'd like to serialiser `PersistentRepr` as `Json`, however it looks like I would need to heavily override `CassandraJournal` in order achieve this.

1. Do you have any plans on providing ability to serialise `PersistentRepr` as `Json` ?
2. Are there any ideas on how it can be done on my side with minimal changes to `CassandraJournal` ?

[2016-05-27 08:35] patriknw commented on #97
`PersistentRepr` is not serialized and stored at all, any longer. Your event data is stored in a separate column using your serializer. See https://github.com/akka/akka-persistence-cassandra/pull/21

Does that solve the problem?

[2016-05-27 08:37] patriknw commented on #97
by the way, here is a Json serializer: https://github.com/lagom/lagom/blob/master/jackson/src/main/scala/com/lightbend/lagom/internal/jackson/JacksonJsonSerializer.scala

[2016-05-27 12:17] t3hnar commented on #97
thx @patriknw will take a look and most probably close the issue, but a bit later.

[2016-05-27 13:49] patriknw commented on #97
ok, thanks

[2016-06-07 12:57] patriknw opened #101 "asyncReplayMessages doesn't always complete"
The returned `Future` is supposed to be always completed with success or failure, not being left in a pending uncompleted state. It is not completed if C* server is stopped in the middle of an `asyncReplayMessages` that is in progress.

[2016-06-07 14:48] sjoerdmulder opened #103 "java.lang.IllegalArgumentException: requirement failed: Region Actor not registered"
Got this issue when a node was killed (probally because of thread-starvation). Only way i could fix it is a full cluster stop and drop the cassandra keyspace, which is not preferable but okay for now since we only use akka persistence for sharding.

Akka 2.4.6, akka-persistence-cassandra 0.12, Cassandra 3.0.5

Exception in receiveRecover when replaying event type [akka.cluster.sharding.ShardCoordi

[2016-06-09 07:02] t3hnar commented on #97
@patriknw It would be ideally to serialise `PersistentRepr` as JSON equally in different storages including Cassandra, but looks like I'll end up binding json serialisers to events for persistence and kryo serialiser for network communication
Thanks.

[2016-06-09 07:02] #97 closed

[2016-06-09 08:18] jypma commented on #67
Just ran into this as well. I tend to use Github search quite a bit for a "quick search" for keyword, class etc. in source code, for repos that I don't have readily cloned.

@krasserm Do you know of a creative way to enable the `akka/akka-persistence-cassandra` repo to be searchable?

[2016-06-14 12:15] patriknw commented on #103
@sjoerdmulder  You probably had a cluster split and got multiple writers to the same persistenceId. Are you using `auto-down`?

[2016-06-14 12:17] sjoerdmulder commented on #103
Yes we are using auto-down.

[2016-06-14 12:18] patriknw commented on #103
I strongly recommend against that. It doesn't handle network partitions. Use [Split Brain Resolver](http://doc.akka.io/docs/akka/rp-current/scala/split-brain-resolver.html), or similar.

[2016-06-24 21:14] p-kozlov commented on #88
This ViewA is used only once, in the following test.
[code]

[2016-06-28 19:49] #88 closed

[2016-06-29 07:33] patriknw opened #105 "add configuration of ReconnectionPolicy"

[2016-06-29 08:58] #105 closed

[2016-06-30 12:26] synox opened #107 "Persistence-Query does not continue after connection loss and reconnect"
Hi, we are having trouble implementing error handling with persistence-query with cassandra. When the connection is lost and later reconnected, it does not receive any more messages. There are no Failures reported/sent to the Actor running the persistence-query.

We use https://github.com/scalaspring/akka-spring-boot to include akka with spring.

- akka version: 2.4.2
- cassandra version: 3.5 (def

[2016-06-30 12:39] jypma commented on #107
Could you upgrade to latest akka-persistence-cassandra and try again? There've been some failure fixes I believe.

[2016-06-30 13:43] synox commented on #107
Same problem with

    <dependency>
			<groupId>com.typesafe.akka</groupId>
			<artifactId>akka-persistence-cassandra_2.11</artifactId>
			<version>0.17</version>
    </dependency>
    <dependency>
			<groupId>com.typesafe.akka</groupId>
			<artifactId>akka-persistence-query-experimental_2.11</artifactId>
			<version>2.4.2</version>
    </dependency>

Due to Issue https://github.com/scalaspring/ak

[2016-07-01 06:11] patriknw commented on #107
thanks

[2016-07-01 06:12] patriknw commented on #107
anyone up for investigating?

[2016-07-07 09:16] andy-hw-chung opened #108 "Make read timeouts configurable"
We are having issues with actors not being able to recover properly due to read timeouts. Our Cassandra cluster is having difficulty keeping up with the requests it is getting. While we can increase the timeouts on the Cassandra cluster, we cannot configure the timeouts on the client side. These can be configured in the default `ConfigSessionProvider` by passing in `SocketOptions` to the cluster b

[2016-07-07 09:40] patriknw commented on #108
sounds good, it would be great if you can contribute the change with a pull request

[2016-07-11 11:16] giampaolotrapasso opened #110 "Add the ReadJournal capability in the Readme"
Please add CassandraReadJournal as functionality into the Readme documentation.

It was not clear to me that the plugin includes also this feature (and Github search for "ReadJournal" keyword did not find anything :( ). It will be useful for future newcomers.

[2016-07-13 11:23] ktoso opened #111 "Should CassandraReadJournal#session be internal API?"
`  val session = new CassandraSession(system, writePluginConfig, ec, log, metricsCategory,`

Likely could be internal API?

[2016-07-14 09:15] kasper-f opened #112 "Persistence Query - Serialization issue"
When using persistence query with cassandra as backend it will resolve in multiple errors when serialization debug is turned on for akka:
[code]

I have tried with java, [kryo](https://github.com/romix/akka-kryo-serialization) and [twitter/chill](https://github.com/twitter/chill) as serializer.

when using java serializer I get a `NotSerializableException` for `DefaultPreparedStatement`. See [java

[2016-07-14 09:18] ktoso commented on #112
Thanks for reporting.
Just so we're on the same page, `akka.actor.serialize-messages` is not something one should use in normal code, it checks if _ALL_ actor messages sent around can be serialized. Which often is not a requirement if messages stay local, as is with the journal messages.

The solution of this ticket is to make sure we don't check that message type - it won't leak beyond single VM,

[2016-07-14 09:42] kasper-f commented on #112
Thanks for the prompt reply.
I am aware that this should only be used during tests. I am in the process of building up a new system and have this setting enabled in our test scope to make sure all our messages can be serialized.

Took me quite some time playing with different serializers before I could narrow down the problem.

I started using this setting after I encountered problems starting akk

[2016-07-14 09:45] ktoso commented on #112
You could contribute a fix :-)

[2016-07-14 11:43] kasper-f commented on #112
will see what I can do.
Am i correct that I need to update akka.actor.dungeon.Dispatch in akka-actor module with a filter to exclude classes that needs to be tested?

[2016-07-14 11:50] ktoso commented on #112
No, dungeon is a dangerous place you don't want to go alone into (hence the
name :-)).

Since the unserializable message is likely passed along in a class that we
control, (and if it's not, we'll want to make it so),
we can make it extend: `akka.actor.NoSerializationVerificationNeeded` which
will disable the check for classes we know don't need to be serializable.

--
Konrad `ktoso` Malawski
Akka

[2016-07-14 12:02] kasper-f commented on #112
Oh, already made an implementation in Dispatch https://github.com/kasper-f/akka/commit/a83616ffdc620be62d41bae903a8e311a87a9b37

Will try locate the message where DefaultPreparedStatement is used in akka-persistence-cassandra instead as suggested.

[2016-07-14 13:23] kasper-f commented on #112
I actually found that the problem was not the `akka.actor.serialize-messages = on` but `akka.actor.serialize-creators = on` causing every Props to be checked

I have committed a fix for EventsByTag* but the issue is also present in EventsByPersistenceIdPublisher. @ktoso Before applying the fix for that class as well I would like your input on this solution. (https://github.com/kasper-f/akka-persis

[2016-07-15 07:17] kasper-f commented on #112
I have fully implemented a new solution where I only wrap session and prepared statement in a new class to escape the serialization validation.
I have created a pull request https://github.com/akka/akka-persistence-cassandra/pull/113
@ktoso please comment and let me know if there is any issues to be solved before this can get accepted.

[2016-07-15 10:23] #112 closed

[2016-07-17 18:20] newffy commented on #96
Right now according to [latest persistence doc as of 2.4.8](http://doc.akka.io/docs/akka/2.4/scala/persistence.html#Batch_writes) and latest reference.conf we can't even use `max-message-batch-size`, because
[code]
and

So after upgrading to akka 2.4.8 we can't go to production with cassandra persistence plugin as we are loosing data.

[2016-07-17 19:56] patriknw commented on #96
@newffy In what way are you loosing data? Please elaborate.

[2016-07-18 14:13] magnusart commented on #96
@newffy the messages are still batched, but only if the number of messages go above `max-message-batch-size = 200`. Regardless, data loss is a completely separate issue from what this issue is about (batch size in bytes instead of messages) so please open a new issue.

[2016-07-20 11:41] synox commented on #107
I removed Spring from my demo and upgraded akka.

Even with version 2.4.7  and 2.4.8 it does still not work!

	<dependencies>
		<dependency>
			<groupId>com.typesafe.akka</groupId>
			<artifactId>akka-slf4j_2.11</artifactId>
			<version>2.4.8</version>
		</dependency>
		<dependency>
			<groupId>com.typesafe.akka</groupId>
			<artifactId>akka-cluster_2.11</artifactId>
			<version>2.4.8</version>

[2016-07-21 15:32] jaohaohsuan opened #115 "waht can I do If cassandra host ip is changed?"
I am using Kubernetes to run Cassandra, if the Cassandra host ip changed because the container crash or migrate to other node, Is it posible to re-config the `cassandra-journal.contact-points` ?

Any suggestion?

[2016-07-22 07:30] patriknw commented on #115
See session-provider in reference.conf
https://github.com/akka/akka-persistence-cassandra/blob/master/src/main/resources/reference.conf

Not sure it will help you. It is only used when establishing the session and after that the cassandra reconnect management is used.

[2016-07-22 08:37] notxcain commented on #111
As an argument for keeping it public it's very handy to implement read side using this session, as it is already initiated and properly tested Cassandra session wrapper. @patriknw WDYT?

[2016-07-22 08:55] patriknw commented on #111
In current shape it should not be public, but I agree that it is useful and we should consider making it a proper public api. Then we should also incorporate stuff from corresponding class in Lagom (originally written by me).

[2016-08-07 16:08] #110 closed

[2016-08-07 16:31] patriknw opened #116 "Optionally apply event adapters in queries"
See https://github.com/akka/akka/issues/18050 and https://github.com/akka/akka/issues/21065

Contribution is welcome!

[2016-08-19 08:57] belyyv opened #117 "Eventual-consistency-delay works as timeout for currentEventsByTag query"
I have found that on big amount of events curentEventsByTag query successfully stops after `eventual-consistency-delay` time. For me it looks like bug, because it violates currentEventsByTag semantics.

In my case I had around 1 million resulting events and it took 5 minutes to read and process them. `eventual-consistency-delay` had default value - 10s. And query stopped after that time, getting i

[2016-08-19 09:41] patriknw commented on #117
Interesting, thanks for reporting. Sounds like a bug.

[2016-08-22 10:55] franbh opened #118 "Upgrade to akka 2.4.9"

[2016-08-22 18:22] #118 closed

[2016-08-23 13:11] patriknw commented on #101
This was fixed in https://github.com/akka/akka-persistence-cassandra/pull/102

[2016-08-23 13:11] #101 closed

[2016-08-23 14:14] patriknw commented on #107
@synox I have debugged this and have some good news. Your `IncomingMessageListener` is stopped after 30 restart attempts. See your supervision strategy: `OneForOneStrategy(30, Duration.create("2 minutes")`.

If you just remove the `supervisorStrategy` it works, since then it will restart infinitely. However, you should use `BackoffSupervisor` for that actor also, so that it doesn't restart too qui

[2016-09-05 11:41] synox commented on #107
@patriknw Thanks for debugging! Yes this resolves the issue!

@pspiegel fyi

[2016-09-05 11:41] #107 closed

[2016-09-09 10:22] patriknw opened #124 "Mark statements as idempotent"
Updated the C* dependencies but noticed this:
[code]

Seems like retries have changed, see http://goo.gl/4HrSby

I think all our statements are idempotent, so marking them as such. Please correct me if I'm wrong.

[2016-09-09 13:13] #124 closed

[2016-09-09 18:03] abesanderson opened #125 "Upgrade to cassandra datastax driver 3.1.0"
3.0.0 is pretty old, and I think there have been some improvements in the pooling logic since then.

[2016-09-09 19:08] patriknw commented on #125
I did this in the 0.18 release today

[2016-09-21 08:52] pjan opened #126 "Make eventual consistency delay configurable"
Depending on the query we run, we have different requirements for the setting. It would be great if this would be configurable on a per-query basis rather than only a global setting.

I believe the request is similar to @ktoso's #93, yet for a different setting, but both could probably be solved in the same PR. If you'd have some pointers on how you wish this to be implemented, I might be able to

[2016-09-21 14:12] patriknw commented on #126
sounds good, PR is welcome
makes sense to handle both those settings in same PR

[2016-09-22 13:14] pkubowicz opened #127 "Wrong log message formatting in CassandraJournal"
My logs show:
[code]
Akka 2.4.10 + SLF4J 1.7.21 + Logback classic 1.1.7

[2016-09-27 05:49] patriknw commented on #127
@pkubowicz Thanks for reporting. Would you like to open a pull request to fix the issue?

[2016-09-27 05:51] pkubowicz commented on #127
I don't have enough Scala knowledge to do this.

[2016-09-27 05:54] patriknw commented on #127
ok, thanks for reporting

[2016-09-27 10:43] ktoso opened #129 "Establish connection eagerly?"
Just had this reported as part of a discussion:
It seems that the plugin establishes the connection only once first used, lazily.
It would be nice to allow starting the connection eagerly.

I think we could do this using the "auto load" extension mechanism we added in akka recently and just document it then?

[2016-09-27 10:48] ktoso commented on #129
I knew we did something about this!
Solved on Akka Persistence level: http://doc.akka.io/docs/akka/snapshot/scala/persistence.html#Eager_initialization_of_persistence_plugin

[2016-09-27 10:48] #129 closed

[2016-09-28 05:06] ksilin commented on #115
Programmatic config would be great +1

[2016-10-17 09:37] #127 closed

[2016-10-21 14:09] patriknw commented on #111
@notxcain I have made it public for real, and added nice API for arbitrary queries and updates. Review is welcome: https://github.com/akka/akka-persistence-cassandra/pull/132

[2016-10-24 07:21] patriknw opened #133 "Add Paradox"
Add documentation, in Paradox.

[2016-10-24 07:21] patriknw opened #492 "Add Paradox"
Add documentation, in Paradox.

[2016-10-24 08:14] #111 closed

[2016-10-25 13:40] johanandren opened #135 "CassandraSession.close and async vs sync"
The close method will call closeAsync on the underlying session but is itself a`() => Unit` method and does not block on the underlying async closing. Could we return a Future[Done] instead to allow users to react on close completion?

Reported in gitter by @fabienbk running into problems when running on top of Tomcat:

[2016-10-25 14:03] patriknw commented on #135
We can return Future, but we will not wait for it to complete in the journal and snapshot actors, because that would mean blocking in those actors' `postStop`. In other words, it will probably not help for the Tomcat case.

Additionally, we don't guarantee that all Akka threads have been stopped when the actor system has been terminated. E.g. if you have a Future callback with the ActorSystem's di

[2016-10-25 14:06] johanandren commented on #135
Maybe not worth doing anything then?

[2016-10-25 14:16] patriknw commented on #135
It doesn't hurt to add the return value and it can be used by those who create their own `CassandraSession`.

[2016-10-25 15:15] notxcain opened #136 "CassandraSessionSettings#sessionProviderClassName is never used"
`CassandraSessionSettings#sessionProviderClassName` is never used, but requires `session-provider` key to present in `Config`.

[2016-10-25 15:21] fabienbk commented on #135
@patriknw : do you mean it's possible to subclass `CassandraSession` ?

[2016-10-25 15:22] patriknw commented on #136
Good catch, should be fine to remove from there. Can you create a PR with the fix, @notxcain ?

[2016-10-25 15:23] notxcain commented on #136
Sure!

[2016-10-25 15:30] patriknw commented on #135
No, I mean that it's possible to create own instance of it and when used like that it can useful with the Future return value

[2016-10-25 15:35] patriknw commented on #135
@notxcain May I ask you to fix this also? :)

[2016-10-25 17:12] #136 closed

[2016-11-02 09:55] johanandren opened #138 "Implement queries using the new offset types"
Akka 2.4.12 introduced `akka.persistence.query.Offset` and two new query traits `EventsByTagQuery2` and `CurrentEventsByTagQuery2` that use that instead of the previous long offset. We should implement those.

[2016-11-07 15:00] johanandren opened #140 "Recovery does not fail on failed deserialization"
If the serializer fails to deserialize an event that does not fail recovery of the entity.

[2016-11-07 16:33] #140 closed

[2016-11-08 09:21] #138 closed

[2016-11-17 17:28] jaohaohsuan commented on #115
Fianlly Kubernetes petset save me. I am not going to rely on pod ip instead service name.

[2016-12-07 17:42] note commented on #116
I wonder if it wasn't addressed somehow. I just set up akka-persistence-cassandra together with Persistence Query and adapter's `fromJournal` is actually called. In akka-persistence-cassandra config I have just `event-adapters`, `event-adapter-bindings`,
`.enable-events-by-tag-query`

[2016-12-09 12:59] patriknw commented on #116
@note Good catch. It was added here https://github.com/akka/akka-persistence-cassandra/pull/61

[2016-12-09 12:59] #116 closed

[2016-12-20 11:20] lukas-phaf opened #145 "Improved error handling if Cassandra node is down"
I get the following errors in Akka when I take down (unplug the network cable) of a node in our Cassandra cluster:

`[INFO] 2016-12-16 14:10:12,457  4847268  - Retrying on request error on same host at consistency QUORUM (initial consistency: QUORUM, retries: 0, exception: {})
com.datastax.driver.core.exceptions.OperationTimedOutException: [/10.7.17.18:9042] Timed out waiting for server response

[2016-12-20 16:09] patriknw commented on #145
Sounds like a good suggestion, @lukas-phaf
Would you like to create a pull request with that change?

[2016-12-20 16:32] lukas-phaf commented on #145
Yes, I can try to do that. It will be my first GitHub pull request, so it might take some time.

I would like your input on one thing: I think `onRequestError` should take into account the number of retries, just like `onWriteTimeout`, `onReadTimeout`, etc. Do you agree?

[2016-12-22 12:41] lukas-phaf commented on #145
Our legal department is looking at the CLA. I am afraid it will take a while before I can create the pull request.

[2017-01-20 00:57] haggy opened #146 "Enable compression via config"
I have looked through the reference conf and source and I don't see a way to enable compression on the persistence tables.

Create Table: https://github.com/akka/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/journal/CassandraStatements.scala#L28

Is this not implemented? I believe it should be as easy as adding `AND compression = { 'sstable_compression' : '${conf

[2017-01-20 08:13] patriknw commented on #146
Aren't there a lot of settings that can be defined when creating the tables? I don't think its feasible to replicate all such things into the config. The table creation in CassandraStatements should only be seen as convenience for automated testing. For production I would create the tables manually before starting the system the first time.

[2017-01-20 10:59] haggy commented on #146
That's an even better idea that I didn't think of :D

On Fri, Jan 20, 2017, 3:13 AM Patrik Nordwall <notifications@github.com>
wrote:

[2017-01-20 11:28] patriknw commented on #146
ok, closing then

[2017-01-20 11:28] #146 closed

[2017-01-23 12:33] bamarek18 opened #148 "Columns documentation/description?"
It would be useful if one had documentation for what which column mean.
For example there is `message` and `event`. What is their difference? What is the `ser_id`? `event_manifest`?

It is useful when trying to migrate.

[2017-01-24 13:47] haggy opened #149 "Question about read rates on cluster_state.messages table"
I've been POC'ing akka persistence using the Cassandra plugin. I am receiving data from a constant stream of events off a message queue, and using the `AtLeastOnceDelivery` pattern in akka persistence. I ran `nodetool cfstats` on one of the Cassandra nodes and Im seeing a massive amount of reads performed against the `messages` table. I have verified that we are not in a constant state of message

[2017-01-26 13:08] patriknw commented on #149
Interesting. Can you see what query it is executing?

[2017-01-26 13:45] haggy commented on #149
Im digging around but I haven't found the raw query yet. What I do see in `system_traces.events` is a ton of these:

[code]

[2017-01-26 13:50] patriknw commented on #148
I agree :)

`message` is the serialized PersistentRepr that was used in v0.6 and earlier.
`event` is the serialized application event that is used in v0.7 and later.

To clarify the `ser_id`, `ser_manifest` and `event_manifest`...

The event's serialization manifest is stored in `ser_manifest` and the `PersistentRepr.manifest` is stored in `event_manifest`.
I can see the confusion :) and I guess t

[2017-01-26 13:54] patriknw commented on #149
Perhaps you can turn on some [tracing](https://docs.datastax.com/en/cql/3.3/cql/cql_reference/cqlshTracing.html) or debug logging to see what statements are executed.

[2017-01-26 15:35] haggy commented on #149
Yea I'll try that in a bit. Got sidetracked but should be able to have some
info for you by EOD. Standby!

On Thu, Jan 26, 2017 at 8:54 AM Patrik Nordwall <notifications@github.com>
wrote:

[2017-01-27 12:08] haggy commented on #149
@patriknw we ended up going another route for persisting custom information using akka persistence (we are pushing data down into kafka now since it fits our use-case much better). We are still using the cass journal plugin for cluster events so Im going to enable query debugging to see if we are still getting hammered with reads. I'll report back here with more info soon.

[2017-01-31 19:45] bamarek18 commented on #148
@patriknw thanks.
So if I need to migrate from pre0.6, what would be the process? Do I just migrate old messages to `message` column, and leave event, ser_id, ser_manifest & event_manifest nulls? Would that work?

[2017-02-02 07:02] lukas-phaf commented on #145
For pull request, see #147.

[2017-02-02 07:41] lukas-phaf opened #150 "Newlines in code being modified by sbt-header plugin"
On Windows, the sbt-header plugin modifies newline characters when running sbt.

This is resolved in version 1.6.0 of the plugin:
https://github.com/sbt/sbt-header/pull/32

Can we update the plugin to that version? I can make a pull request, if that helps.

[2017-02-02 08:46] bamarek18 opened #151 "Migration ShardCoordinator errors"
When migrated as mentioned in a #148 fashion I am getting lots of message ssimiliar to these:

[code]

Whats recommended approach? I am running in cassandra2 compact mode.

[2017-02-02 17:57] patriknw commented on #151
I don't know what is causing that but you can safely remove such events as described in http://doc.akka.io/docs/akka/2.4/scala/cluster-sharding.html#Removal_of_Internal_Cluster_Sharding_Data

[2017-02-02 20:04] patriknw commented on #150
sounds good to update, and a PR helps

[2017-02-02 20:48] patriknw commented on #148
@bamarek18 it's the opposite, but that part is backwards compatible so when replaying the events it will first read from the `message` column and only if that is `null` try with the new columns.

[2017-02-02 20:55] bamarek18 commented on #148
ah, so like this?:
`old_schema.message -> new_schema.message`
`new_schema.event_manifest` --> `how should I get this value?`
other nulls (besides PKs which would be generated)
Or do I need the event manifest? Sorry for dumb question, but what is ` event's serialization manifest` for ?

[2017-02-02 21:20] patriknw commented on #148
you can leave `event_manifest` as `null` or `""` (I would guess `""` is the more safe choice)
`event_manifest` is used for event adapters, which you are not using.

[2017-02-02 21:33] bamarek18 commented on #148
Thank you. And writer_uuid can stay null ?

[2017-02-03 04:13] patriknw commented on #148
Use `""` for `writer_uuid`

[2017-02-10 00:20] jroper opened #153 "Support forking in CassandraLauncher"
When Cassandra shuts down, if the platform is Windows, it will call `System.exit(0)`:

[code]

This means if using the `CassandraLauncher` in tests to start an embedded Cassandra, then on Windows the test process will be abruptly terminated when the tests tear down callbacks are run.  One solution to this would be to fork the Cassandra launcher if running on Windows.

See https://github.com/lagom/

[2017-02-13 09:27] patriknw commented on #153
ouch

[2017-02-14 07:56] notxcain opened #154 "currentEventsByTag completes after eventual-consistency-delay"
This is very confusing behavior.
I use `eventual-consistency-delay = 0s` because all my events are tagged with the tag I use to query.
What I expect is that `currentEventsByTag` finishes when it reads the latest event in the latest bucket  at the moment of materialization.

[2017-02-14 08:07] notxcain commented on #154
Ah there is one already #117

[2017-02-14 08:12] patriknw commented on #117
This issue has been open for too long. I'll take a look at it right away.

[2017-02-14 08:22] notxcain commented on #117
Thanks, @patriknw

[2017-02-14 08:22] notxcain commented on #154
Closing as duplicate 🔥

[2017-02-14 08:22] #154 closed

[2017-02-14 10:53] #145 closed

[2017-02-14 11:06] patriknw commented on #117
@belyyv and @notxcain I was able to reproduce and fix the problem, see https://github.com/akka/akka-persistence-cassandra/pull/156

Note, that when you use `cassandra-query-journal.delayed-event-timeout` I would still recommend to have a short `eventual-consistency-delay=1s` to avoid unnecessary look backs for missing events. I think that will give better overall performance.

[2017-02-14 11:10] notxcain commented on #117
@patriknw thanks for the fix and for the note! Do you plan to release `0.22.1` as soon as #156 gets merged?

[2017-02-14 12:35] patriknw commented on #117
yes, I'll probably release 0.23 today

[2017-02-14 12:36] notxcain commented on #117
That's great to hear!

[2017-02-14 12:41] patriknw commented on #151
@bamarek18 can we close this? With current information I don't know what to do about it.

[2017-02-14 16:41] patriknw commented on #117
@notxcain no release today. I found an unrelated performance problem that must be fixed and included in the release.

[2017-02-14 17:18] #117 closed

[2017-02-14 18:26] patriknw commented on #117
Released 0.23. (it was not a performance problem)

[2017-02-14 18:29] patriknw commented on #149
@haggy I thought I found something, but I didn't. In 0.23 I added possibility to enable query logging which I think can be useful for debugging this issue. See https://github.com/akka/akka-persistence-cassandra/pull/157

If you don't have time to investigate more, could you describe a bit more how you think I could reproduce this issue?

[2017-02-14 18:39] haggy commented on #149
@patriknw Yea sorry haven't been able to circle back on this yet. My setup looked like this:

- Enable basic persistance for just cluster related data only (should still be low reads)
- After enabling for cluster only, follow the steps to setup At-Least-Once message semantics (link to doc is below
- On some kind of timer, send messages to the actor(s) to have them persist and confirm messages base

[2017-02-20 20:00] dhpiggott commented on #125
Can this be closed now then?

[2017-02-21 08:07] notxcain commented on #135
@patriknw I must have missed a notification. I will send a PR. Also I have a feedback about usage of CassandraSession, should we discuss it on gitter?

[2017-02-21 08:17] #125 closed

[2017-02-21 10:32] #150 closed

[2017-02-22 12:53] kasper-f commented on #115
To start cassandra in kubernetes see their example:  https://github.com/kubernetes/kubernetes/blob/master/examples/storage/cassandra/README.md
Akka  can then be configured to use the service name as contact point :
[code]

[2017-03-02 10:53] ktoso opened #159 "Consider logging stacktrace in warnings on replay failure"
It was requested that we log the exception in detail here https://github.com/akka/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/snapshot/CassandraSnapshotStore.scala#L87

I'm not sure if this is a good idea or not, WDYT @patriknw ?
Ping me for details

[2017-03-06 20:00] patriknw commented on #159
`LoggingAdapter` only supports stack trace for `error`. Problems here are most likely to be because of deserialization (and shouldn't be difficult to reproduce in a unit test)

[2017-03-06 20:04] ktoso commented on #159
Hm, yeah I forgot we can't add it on warning :<

[2017-03-14 06:05] briantopping opened #160 "Allow `eventsByTag` stream to be completed"
To the best I can tell, `eventsByTag` does not have a way to complete the stream because the materialized value is set to `NotUsed` and there is no good way to override it.

My use case for this is with Elasticsearch. Indexes there become corrupted and need to be rebuilt, in which case the persisted ID needs to be reset, indexes cleared and the stream restarted to rebuild them.

One could imagine

[2017-03-14 08:18] johanandren commented on #160
Did you see the docs for `eventsByTag`? https://github.com/akka/akka/blob/9d2bec7f232b628cc087231af75e457072823e61/akka-persistence-query/src/main/scala/akka/persistence/query/scaladsl/EventsByTagQuery.scala

It describes the semantics as exactly this.

Detecting your elastic search indexes being corrupt and stopping the stream could be done using for example a `KillSwitch` stage. http://doc.akka.

[2017-03-14 11:15] patriknw opened #161 "push events from Cassandra"
The queries are based on periodic polling C* for new events.

One improvement over only using polling is the Akka Cluster PubSub notifications via `cassandra-journal.pubsub-minimum-interval`, but it's still not optimal.

Would be great if it would be able to push events or notifications directly from C* somehow.

There is Change Data Capture (CDC) in Cassandra but it's an extremely low level api s

[2017-03-14 12:16] kant111 commented on #161
+1

[2017-03-14 15:04] briantopping commented on #160
Thanks @johanandren, much appreciated.

It looks like what I misunderstood was the use of adding a stage to an existing graph. I had read the `eventsByTag` documentation a number of times, looked through both open and closed issues and dug pretty deep into the implementation looking for an option to get at the `Source` actor, but what was needed is as you point out w/ `KillSwitch` is I was not pro

[2017-03-14 15:04] #160 closed

[2017-03-14 23:23] ashishsoni opened #162 "Is there any documentation or examples using this lib"
Is there any documentation or examples using this lib

[2017-03-14 23:47] ktoso commented on #162
All you need is here:
- https://github.com/akka/akka-persistence-cassandra

And the library itself is documented here:
- http://doc.akka.io/docs/akka/current/scala/persistence.html

Please use the mailing lists or chats fo questions like that though, issues are meant for issues / bugs etc

[2017-03-14 23:47] #162 closed

[2017-03-22 08:01] patriknw opened #164 "NPE when reading snapshots"
Not much information about this unfortunately but it was reported that NPE was thrown from CassandraSnapshotStore when trying to load snapshots. It stopped when changing read/write level to QUORUM instead of the default ONE.

[2017-03-22 08:05] patriknw opened #165 "gc_grace_seconds on snapshot table"
gc_grace_seconds can only be set on the journal table but not on the snapshot table.

In general, the table creation is only a convenience for development/test. For production I'd recommend creating the tables with a script before starting the system the first time to have full control of all settings.

However, if it's supported for journal table it should also be supported for snapshot table. Mi

[2017-03-23 07:00] notxcain opened #166 "eventsByTag may miss event under certain conditions"
`Xn` - event number `n` of aggregate with id `X`.
All events are tagged with the same tag. No holes.

This is the order of events in the base table according to timestamp `B1`, `A1`, `B2`.
Mat views are asynchronous, so it is possible that the order in which events appeared in mat view is `A1`, `B1`, `B2`.
Source emits `A1`, but never emits `B1`, because actual order in view is `B1`, `A1`, `B2`, i

[2017-03-23 14:43] patriknw opened #167 "pooling options setHeartbeatIntervalSeconds"
setHeartbeatIntervalSeconds should also be configurable, might be more.
http://docs.datastax.com/en/developer/java-driver/3.1/manual/pooling/

[2017-03-26 07:21] patriknw commented on #148
And document that the auto creation of keyspace and tables is mostly intended as a convenience for development and tests. For production it's better to create the tables before starting the application so that all needed configuration can be specified.

[2017-03-27 09:27] patriknw opened #168 "improve usage of retry policy"
Sometimes when stopping (especially `kill -9`) one C* node in 3 node cluster can result in failing queries. Example log:

[code]

This can be improved by using the FixedRetryPolicy also for reads, since the DefaultRetryPolicy gives up after first retry.

Other similar issues can be seen when pausing a C* node (simulating long GC).

This can be improved by using [speculative execution](http://docs.

[2017-03-27 09:57] patriknw commented on #167
This property was not as important as I first thought.

[2017-03-27 09:57] #167 closed

[2017-03-27 12:16] patriknw commented on #75
I have implemented this in a simpler way in https://github.com/akka/akka-persistence-cassandra/pull/170

[2017-03-27 15:03] patriknw commented on #164
found realistic explanation

[2017-03-27 15:44] #159 closed

[2017-03-27 16:33] patriknw commented on #149
I tried [tracing](https://docs.datastax.com/en/cassandra/3.0/cassandra/tools/toolsSetTraceProbability.html) and things are inserted to `system_traces.events` also without any Akka application running, using a 3 node C* cluster.

[2017-03-28 18:42] #168 closed

[2017-03-29 05:15] #75 closed

[2017-03-29 05:18] #165 closed

[2017-03-29 05:51] #164 closed

[2017-03-29 05:53] patriknw commented on #108
this was fixed long time ago

[2017-03-29 05:53] #108 closed

[2017-03-29 06:39] patriknw commented on #168
To enable the speculative execution for all requests the following configuration should be used:
[code]

[2017-03-31 08:48] patriknw commented on #166
First, assuming proper `cassandra-query-journal.delayed-event-timeout` setting, i.e. not 0s.

It's rather easy to write such scenarios in `EventsByTagSpec` https://github.com/akka/akka-persistence-cassandra/blob/master/src/test/scala/akka/persistence/cassandra/query/EventsByTagSpec.scala#L622

[code]

That will fail as you describe. The reason B1 is missed here is that we don't know what the seque

[2017-03-31 11:29] notxcain commented on #166
@patriknw thanks for investigation. What strategy of population of `SequenceNumbers` do you suggest?

[2017-03-31 11:43] patriknw commented on #166
Easiest would be to just use the existing query (EventsByTagFetcher), which is also used for finding delayed events and missing events. We could get better performance by using something that is only looking at the needed fields (e.g. not fetching and deserializing the event payload). It's probably worth doing the latter.

[2017-04-03 08:49] GajendraNaidu opened #175 "Throws NullPointerException when replying SnapShot"
When ActorSystem starting getting below exception. Could not make out any functionality loss. We are using AKKA Sharding as well.

2017-03-27 22:23:17.196 [ERROR] [xxxxxxxxxxxxxxxx] [PersistentShardCoordinator] Persistence failure when replaying events for persistenceId [/sharding/reportCompute.interactionsCoordinator]. Last known sequence number [0]
java.lang.NullPointerException: null
	at akka.p

[2017-04-03 08:51] GajendraNaidu commented on #175
Plugin Version is 0.22 and AKKA version is 2.4.16

[2017-04-03 08:56] dhpiggott commented on #175
Have you seen #164 (resolved in 0.24)? This sounds like it could be an instance of that (lack of actual functionality loss is consistent with my understanding of #164).

[2017-04-03 10:16] GajendraNaidu commented on #175
I just see #164 . So this code change will allow NPE to be thrown but it will throw NoSuchElementException. I assume it will be caught and will not cause any functionality issues.

https://github.com/akka/akka-persistence-cassandra/commit/82ad9934be06cacf521c46b0d79d5d2ad2bfb6bf

I guess I should close this issue.

[2017-04-03 10:46] patriknw commented on #175
The NPE should not cause any trouble except scary logging. It should continue with next snapshot.

However, I see now that when there are no other snapshots to load it will fail the recovery. I'll fix this. Thanks for reporting.

[2017-04-05 08:15] patriknw opened #178 "flaky CI environment"
Tests are very flaky on Travis, they often fail in the initialization step. We should look into it, or use our jenkins machines instead.

[2017-04-05 10:02] #166 closed

[2017-04-05 10:02] #175 closed

[2017-04-05 14:18] patriknw commented on #166
@notxcain 0.25 is released with this improvement included

[2017-04-07 07:15] patriknw opened #180 "remove the static column 'used'"
Investigate if we can remove the static column 'used'. The purpose is to mark that a partition has been used, especially when asyncWriteMessages has an AtomicWrite that is larger than the target partition size. It should be reasonable limitation to not allow persistAll with more events than the target partition size.

A lot of things would be simplified without that column, and users seems to stil

[2017-04-07 14:04] patriknw commented on #81
Note that the current "workaround" when using more than one plugin is to define the cross-linking at both places:

[code]

[2017-04-10 07:31] jroper commented on #153
I'm going to look at implementing this, see https://github.com/lagom/lagom/issues/664 for why. My approach will be to add an option to fork, and to assume that the classloader that launched `CassandraLauncher` is a URL classloader that contains all the necessary jars, and use that to construct the classpath for the forked process.  The approach is not bulletproof, but should work for all practical

[2017-04-10 08:39] patriknw commented on #153
Thanks

[2017-04-10 10:20] kpbochenek commented on #180
Sounds like a great improvement and simplification,
this column had meaning when there was no 'deleted_to' property so you had to know that in a next partition might be events even though current one was empty.

With 'deleted_to' flag looks like this invariant holds?:
(deleted_to value > given partition) OR (there are events in given partition) OR (there might be events in next partition if delete

[2017-04-10 19:18] patriknw opened #182 "memory leak in eventsByTag query"
The EventsByTagFetcher actors were not stopped when aborted (missing or first sequence number). This became a visible problem in version 0.25 due to the more strict abort for first sequence numbers.

[2017-04-11 10:12] #182 closed

[2017-04-11 13:51] kharole opened #185 "Read consistency level configuration value is ignored"
Steps to repoduce
1. Set consistence levels as follows:
` write-consistency = "ONE"
  read-consistency = "ONE"`
2. connect to a single-node cassandra cluster and key space with replication factor 3
3. run a request that invokes persistent actor recovery
Expected: succesfull recovery
Actually: `(tried: /172.25.4.20:9042 (com.datastax.driver.core.exceptions.UnavailableException: Not enough replicas

[2017-04-12 06:46] patriknw commented on #185
Can you see which statement it fails on?

I know that it is not set on the statements for the `config` table. We should probably set it there also.
https://github.com/akka/akka-persistence-cassandra/blob/master/src/main/scala/akka/persistence/cassandra/journal/CassandraStatements.scala#L193

BTW, using write-consistency = "ONE" read-consistency = "ONE" is a bad idea, but you might just be testing

[2017-04-12 08:30] kharole commented on #185
I totally realize that ONE is not the best idea. Turned out not an easy task to track it down to statement but seems it is selectHighestSequenceNr since I can see it is the first thing that fails on persistent actor recovery.

[2017-04-12 09:10] patriknw commented on #185
readConsistency is set on `preparedSelectHighestSequenceNr`.

I'm pretty sure it is the config table, via `initializePersistentConfig` which is done once when the session is created.

You should be able to confirm by setting property:
[code]

and logback.xml:
[code]

[2017-04-13 10:24] TimMoore opened #187 "Cannot connect to cluster nodes on non-default ports if they are not in contact-points"
The scenario is:

- A three node Cassandra cluster
- All three nodes are listening on port 10120
- `application.conf` looks like this:

[code]
  Note: only one node listed in contact-points
- Connecting to the contact point succeeds
- The client discovers the other two nodes after connecting to the first, but does not use the configured port when trying to connect to them

[2017-04-13 10:25] TimMoore commented on #187
I tried to fix this with #186, but I haven't had a chance to replicate the scenario and test the fix.

[2017-04-13 23:59] kpbochenek commented on #178
Hi!
created PR to fix one test that fails most often on travis #188

what do you think?

[2017-04-14 09:26] kharole commented on #185
It is on select from metadata

`2017-04-14 11:21:35,154 [DEBUG] from com.datastax.driver.core.RequestHandler in cluster1-nio-worker-1 - [1731733450-1] Error querying /172.25.4.20:9042 : com.datastax.driver.core.exceptions.UnavailableException: Not enough replicas available for query at consistency QUORUM (2 required but only 1 alive)
2017-04-14 11:21:35,158 [DEBUG] from com.datastax.driver.core.Qu

[2017-04-18 12:46] patriknw commented on #185
@kharole Sorry, but I can't reproduce that and in the source code the read consistency is set for that statement. I tried with a 3 node Cassandra cluster, replication-factor=3, write-consistency = "ONE" read-consistency = "ONE". Stopped 2 of the 3 nodes, and recovery (and other things) still works fine. Changed to QUORUM and then it fails.

Which version are you using?

Do you have a reproducer th

[2017-04-19 05:58] #178 closed

[2017-04-19 06:07] #187 closed

[2017-04-19 08:31] #153 closed

[2017-04-20 15:53] TrustNoOne opened #197 "EventsByTag query drops events after going into LookingForDelayed state"
I have a database containing tags with hundreds of thousands of events. EventsByTag query with no offset (i.e. all events) stopped working properly after the backtracking fix in 0.25.

[this log](https://pastebin.com/raw/yKndFrW5) shows what's happening when I execute this:
`journal.eventsByTag("epman3", NoOffset).runWith(Sink.ignore)`. `epman3` is a tag I have in my local database (tag2), it has

[2017-04-21 09:46] rcavalcanti commented on #197
Hi @TrustNoOne,

There were some hidden bugs that came to the surface on 0.25. Not sure if you are hitting it though.
Release 0.25.1 fixed them, so you should consider updating.

Current release is 0.26, so it's worth give it a try.

[2017-04-21 10:00] TrustNoOne commented on #197
This seems to work, I'm not sure of other implications of that check, let me know what you think

https://github.com/akka/akka-persistence-cassandra/compare/master...TrustNoOne:197-delayed-eventsbytag-fix?expand=1

[2017-04-21 10:03] TrustNoOne commented on #197
@rcavalcanti I'm on 0.51 shouldn't it contain everything in 0.25.1 or is it lagging behind? I haven't checked yet

[2017-04-21 10:04] patriknw commented on #197
Thanks for reporting. So you still see the problem with 0.26? Can you share the same logs with 0.26?

Do you have a reproducer that can be shared? It would be best if we can add a reproducer to the test at https://github.com/akka/akka-persistence-cassandra/blob/master/src/test/scala/akka/persistence/cassandra/query/EventsByTagSpec.scala#L815

[2017-04-21 10:06] patriknw commented on #197
0.51 == 0.26
0.50 == 0.25.1

[2017-04-21 10:08] TrustNoOne commented on #197
Well then I guess 0.26 would behave the same, I'll try anyway in a minute.
at the moment I can only reproduce this by populating the database with a month of data and lots of events, I'll take a look at the test and see if I can simulate it somehow later

[2017-04-21 10:39] patriknw commented on #197
0.51 or 0.26 doesn't matter, it's 0.25 that is broken

[2017-04-21 10:42] TrustNoOne commented on #197
Ok then apparently this is another issue. I haven't looked yet at what was solved in 0.26/51 anyway. I'm now looking at the test, I guess I should look for the example that tests the 'LookingForDelayed' phase

[2017-04-21 22:03] TrustNoOne commented on #197
I added a test that reproduces the issue on my laptop. It's something strictly depending on the query execution speed so it could maybe not fail on very fast hardware. I'm not sure this is the best way to reproduce it, @patriknw I'll wait for your insights about this matter. I think the problem is clearer now, if we start an EventsByTag query N days ago with N big enough, the query skips everythin

[2017-04-25 07:27] TrustNoOne commented on #197
@patriknw do you have a time frame for the next release? I'm not in a big rush, it's just for information

[2017-04-25 07:29] patriknw commented on #197
I can probably release later this week. I'm thinking that @jroper might want to complete https://github.com/akka/akka-persistence-cassandra/pull/196 first.

[2017-04-27 20:50] VRanga000 commented on #185
Submitted a PR for this: https://github.com/akka/akka-persistence-cassandra/pull/199

[2017-05-02 12:20] #197 closed

[2017-05-05 12:38] wketting opened #206 "currentEventsByTag query loops forever when in LookingForDelayed (backtracking) state"
I've a local setup with a rather large event database. Not always, but in my current setup 90% of the time after a rather large (and fast) replay, when at the end looking for delayed events is entered, but it does never come out of it, forever repeating the last backtracking query, as this log shows:
[code]

What I think is happening is the following: The backtracking query gets a resultset with 1

[2017-05-05 14:25] patriknw commented on #206
Thanks for reporting, I'll look into this next week. Just to confirm, what version are you using?

It would be very helpful If you are able to create a reproducer in this test: https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/test/scala/akka/persistence/cassandra/query/EventsByTagSpec.scala#L823
It doesn't have to fail, but illustrate the scenario with debug logging turned o

[2017-05-05 14:30] wketting commented on #206
Sorry, forgot to mention: I'm using 0.52 (latest). I'll try to create reproducer the coming day(s).

[2017-05-05 14:31] patriknw commented on #206
thanks

[2017-05-07 20:18] wketting commented on #206
It is really difficult to reproduce the behavior: Sofar I am not able to reproduce the exact behavior. This test: https://github.com/akka/akka-persistence-cassandra/compare/master...wketting:wip-currenteventsbytag-loop?expand=1 is coming close:

1. Start replay: currentEventsByTag
2.Make sure after reaching the current timebucket backtracking is activated.
3. During backtracking query at least 1 e

[2017-05-08 10:44] patriknw commented on #206
thanks, I'll take a look now

[2017-05-08 12:06] patriknw commented on #206
@wketting I have created a reproducer and a fix. Would be great if you can review/verify. Let's continue discussion in my PR https://github.com/akka/akka-persistence-cassandra/pull/207

[2017-05-08 13:30] wketting commented on #206
Great! Gonna look at right away!

[2017-05-12 20:23] yongjianwang commented on #149
We have noticed excessive amount of read from persistence table as well, and think it could be contributed by the materialized view?

[2017-05-13 14:45] kharole commented on #185
I've created brand new app with all the setting preserved (https://github.com/kharole/ConsistencyLevelRepro/) but was not able to reproduce the issue anymore. It reacts on consistency-level changes perfectly well. So was most probably my mistake. Sorry for disturbance and thanks for help.

[2017-05-15 11:35] patriknw commented on #185
thanks for the update, I don't mind incorporating @VRanga000 's PR anyway

[2017-05-15 11:40] #206 closed

[2017-05-15 11:41] patriknw commented on #206
@wketting released 0.28 and 0.53 with this fixed

[2017-05-15 11:45] wketting commented on #206
Thanks a lot!

[2017-05-15 12:13] patriknw commented on #149
I don't know how those are implemented, if they show up as ordinary reads.

[2017-05-18 02:18] richard-hunt opened #210 "Memory Issues processing large numbers of events"
Hi,

Logging this here on advice from the Lagom User Group.   I have implemented a Lagom service which is using akka-persistence-cassandra 0.26 under the covers for persistence.

During normal operation, everything works well, but if for any reason a large number of events have queued up for processing I'm seeing massive JVM memory spikes, with throughput dropping to almost zero and GC at 100% CPU

[2017-05-18 07:30] patriknw commented on #210
Thanks for reporting, we can continue the discussion here if you like.

For reference, here is the other discussion: https://groups.google.com/d/msg/lagom-framework/rleQk4GVC-4/j4edmkjgBAAJ

cc @jroper

[2017-05-18 07:48] richard-hunt commented on #210
Thanks Patrik,
Will turn on akka debug logging when I get into work tomorrow and see if I can provide any more insightful information.  I'll also try to see if upgrading to the latest version of akka-persistence-cassandra makes any difference.

[2017-05-19 09:20] patriknw commented on #210
The log is useful. Obviously something is wrong. It would be good with full log (zip and attach here).
You can pick one tag if you like `grep "SaleEvent1"`.

I'll try to create a test case for what I think is the scenario.

[2017-05-19 09:21] patriknw commented on #210
By the way, please use the latest version, i.e. `0.28`. I think that was `0.27`.

[2017-05-19 11:49] patriknw commented on #210
I have a reproducer and understand the problem. The fix is not as simple as to limit the fetch to remaining buffer capacity, because the missing event might be further back than the full buffer size (events from other persistenceId that are already consumed are also fetched). I think I know a solution that should work and still not use more memory than the buffer size.

[2017-05-19 20:25] richard-hunt commented on #210
That's good news, thanks for your help Patrik.

On Fri, May 19, 2017 at 11:49 PM, Patrik Nordwall <notifications@github.com>
wrote:

[2017-05-24 12:42] patriknw commented on #210
An update, I have been very busy with other things, but I'll get back to fixing this (probably on Friday)

[2017-05-30 08:43] patriknw commented on #133
One documentation topic is about how to sort/compare TimeBasedUUID.

`java.util.UUID.compareTo` is not correct, or at least not compatible with C* timeuuid. See https://github.com/cowtowncoder/java-uuid-generator#known-issues

There are some utilities that you can use instead. `com.datastax.driver.core.utils.UUIDs` has several useful methods, such as `UUIDs.unixTimestamp`.

In akka-persistence-cas

[2017-05-30 13:08] patriknw opened #215 "failed: JournalPerfSpec on Travis"
JournalPerfSpec is failing rather frequently (but not deterministically) on Travis.

[code]

[2017-05-30 13:31] #210 closed

[2017-06-01 07:41] johanandren commented on #133
I have some personal notes that could probably serve as a base to create the doc from.

[2017-06-26 08:45] Tvaroh opened #218 "Remove 3 tags per event limit"
I wonder if 3 tag per event limit can be removed.

What if to store events in Cassandra `set` field instead of 3 separate fields for each tag? The number of materialized views can become large (equal to distinct tags number), but that can be manageable. Are there any problems with this approach?

In my use case, I want a potentially unlimited number of tags per event, so any inputs are welcome.

[2017-06-27 06:29] patriknw commented on #218
The reason is exactly that I think there is quite a lot of overhead (work for Cassandra) to keep the materialized views updated. The materialized view is also rather restricted in what kind of fields that are supported. Not sure collection fields are supported.

Could you describe the use case some more and I'll see if I have any advice.

[2017-06-27 06:35] Tvaroh commented on #218
Sure, thanks.

For each event I need to maintain a list of users it does affect to be able to notify them. For example a user can share its data to other users, so when it modifies it, I calculate the affected users, and want to be able to notify them immediately (by sending WebSocket message) or when they come online. I was thinking about tagging each event with users ids it affects and then use

[2017-06-27 06:43] Tvaroh commented on #218
Btw, I just checked in Cassandra shell: creating a materialized view that includes `set<text>` field does work.

[2017-06-27 07:11] patriknw commented on #218
There is another problem with your design. You would have one active query stream for each user. That doesn't scale well, because each such query will poll Cassandra for new events. It's better that you have one tag (or a few tags) and one (or a few) active query and then route the events to the web sockets when consuming the events.

Note that the primary purpose of the event queries are to build

[2017-06-27 07:25] Tvaroh commented on #218
I see, thanks. How about the offline case, when I need to find user-related events and send them to the client when he comes online? Do you suggest to maintain such a view manually by consuming the events and building up query side I need for my use case?

[2017-06-27 09:43] patriknw commented on #218
Yes, I would do it like that. Perhaps a mix. Fetching "current state" from the view and then get live events with the stream.

[2017-06-28 07:30] Tvaroh commented on #218
Okay, thanks. Feel free to close this issue if you think that 3 tags limit is a reasonable choice and shouldn't be removed. Though, I can't see any problems with implementing unlimited tags number support besides backwards compatibility and understanding the consequences of having potentially a lot of materialized views.

[2017-06-28 08:19] #218 closed

[2017-06-29 07:50] ktoso opened #219 "Do we need to change connection defaults in v2 compat mode?"
It seems the default value of `new-connection-threshold-local = 800` exceeds what an V2 driver allows and could lead to:

[code]

This was found on 0.52 but it seems we have the same currently.
Does this mean did not test with a local Cassandra 2 with that value I think?

More info here ( http://docs.datastax.com/en/developer/java-driver/3.3/manual/pooling/#simultaneous-requests-per-connection ):

[2017-06-29 09:22] ktoso commented on #219
For reference, we had these values since 2015 https://github.com/akka/akka-persistence-cassandra/commit/f34cf8e0206ebb4c7a95940b523ddffd0eee5659 so it's a bit weird, if it seemingly does not work on V2, but back then pretty sure that V2 was the default and back then current cassandra hm

[2017-06-29 09:22] ktoso commented on #219
Perhaps the check/failing was introduced in newer drivers

[2017-06-29 10:26] johanandren commented on #219
Doesn't seem like the limit nor the checking has been changed in a long while:
https://github.com/datastax/java-driver/blame/3.x/driver-core/src/main/java/com/datastax/driver/core/PoolingOptions.java#L614
https://github.com/datastax/java-driver/blame/3.x/driver-core/src/main/java/com/datastax/driver/core/StreamIdGenerator.java#L34

[2017-07-23 08:00] chbatey commented on #219
2015 will have been a mixture of 2.0.* (v2 of native protocol) and 2.1.* (v3 of the native protocol - released in 2014)

The on the wire protocol for v2 uses a signed byte for the stream ID so 800 will never have worked.

https://github.com/apache/cassandra/blob/cassandra-2.0/doc/native_protocol_v2.spec#L131

I think we should just update the docs to be clear that you shouldn't be using a 2.0.* ve

[2017-08-12 18:08] barambani opened #220 "Set table default_time_to_live from the journal config"
Hi, are there any chances to add the table default_time_to_live property to the journal config ?

[2017-08-14 02:59] ktoso commented on #220
Setting a TTL on a table just like that is not really in the spirit of event sourcing and could lead to dropping events that you have not compacted into a snapshot though - what's your use case? Are you sure event sourcing is the right tool for what you're building if you find yourself wanting to use table wide TTLs?

[2017-08-14 19:37] barambani commented on #220
I see your point. Consider having some column families that don't contain your source of truth but some aggregates that are needed only for a limited time window (think to a sport event or a car race) and after the end of this window are not needed anymore. They can always be recreated if needed for analysis or reporting (and very rarely are). Those tables are consuming space. A way to expire them

[2017-08-14 23:34] barambani opened #221 "Add support for Time Window Compaction Strategy to the journal configuration"
Hi, is there any interest in supporting the Time Window Compaction Strategy in the journal configuration ? It can help improving disk usage and read performances under heavy loads. More details about the strategy here

https://docs.datastax.com/en/cassandra/3.0/cassandra/operations/opsConfigureCompaction.html

https://docs.datastax.com/en/cassandra/3.0/cassandra/dml/dmlHowDataMaintain.html

Thanks

[2017-08-15 09:32] patriknw commented on #220
Note that the auto-creation of the tables is only intended as a convenience for dev/test. We will not mirror all properties. For production (and real testing) you should instead create the tables with CQL and then you have full access to all Cassandra features.

[2017-08-15 09:32] #220 closed

[2017-08-17 15:44] patriknw opened #222 "Support event meta data"
We need to store additional meta data for the events without altering the domain event representation.

[2017-08-22 14:05] TobiasSalzmann opened #224 "Single row left in messages table after deleteMessages"
hi y'all,
after deleting all messages for a persistence id via `deleteMessages(Long.MaxValue)`, there is a single row left in the messages table. it contains only the persistence id, but nothing else.
the metadata table are updated accordingly, yet this thing stays in the messages table without being of any use to us...
is this intended functionality?

![screen shot 2017-08-22 at 16 01 44](https:/

[2017-08-24 10:14] patriknw opened #225 "read blobs in more safe way"
We use
[code]

It works, but could fail if the underlying library would not use array backed ByteBuffer. We should check with `hasArray` and if array not supported we need to allocate array and use `get`, something like in https://stackoverflow.com/questions/28744096/convert-bytebuffer-to-byte-array-java

[2017-08-30 21:10] #224 closed

[2017-08-31 14:33] ayurchuk opened #227 "Enabled authentication does not support credentials update"
We are using `cassandra-journal` with enabled `authentication` in our application.
Also during Cassandra Cluster initialization, we are updating its credentials.
Therefore scenario when an application cannot connect to Cassandra at the beginning but later can is ok for us. The problem is that application keeps saying that new credentials are not valid.

Is there a way or property to avoid this whi

[2017-09-04 13:21] raboof opened #229 "Failure: CassandraJournalPerfSpec"
[code]

[2017-09-05 11:22] SeorasAshby opened #230 "PersistentShardCoordinator - Persistence failure when replaying events for persistenceId InvalidQueryException: Undefined column name meta_ser_id"
Given Cassandra 3.10 tables created by akka-persistence-cassandra version 0.54 with akka cluster sharding version 2.5.4 with state-store-mode=persistence.

On upgrading from from version 0.54 to 0.55 akka sharding's PersistentShardCoordinator fails to replay state due to undefined column name meta_ser_id.

My understanding from the akka-persistence-cassandra 0.55 migration docs is that you should

[2017-09-07 09:11] notxcain opened #231 "Allow to select tag index based on tag prefix"
Imagine a multitenant payment processing system where each `Transaction` is identified by a pair `(TenantId, ExternalTransactionId)`.
1. To drive business processes I need to be able to process all `TransactionEvent` internally, tagged with `s"TransactionAll$n"` where `n` is partition number.
2. Also I need to expose events to tenants, i.e. be able to read all events tagged with `s"TransactionTena

[2017-09-07 10:42] notxcain commented on #161
@patriknw As far as I understand guys from Data Mountaineer have implemented Cassandra to Kafka replication using CDC, see http://docs.datamountaineer.com/en/latest/cassandra-cdc.html. They start connector on each node, though.

[2017-09-09 06:41] patriknw commented on #230
Thanks for reporting. The idea was indeed that they should be optional and I did some checks. Must have missed something. Will look into it. Use 0.54 until then.

[2017-09-11 11:38] jypma commented on #222
Curious, what would be typical use cases for this?

[2017-09-11 12:18] ktoso commented on #222
Multi-datacenter features :-)

[2017-09-11 12:35] patriknw commented on #230
@SeorasAshby This was a puzzler. I tried (again) to run all tests against old table definitions, and that works (only failures were the tests that are actually testing the meta data).

Then I tried a Cluster Sharding example as you described, and then I can reproduce the issue. I tracked it down to that it fails when trying to create the materialized view even though the view already exists. It se

[2017-09-11 14:22] SeorasAshby commented on #230
@patriknw

Thank you so much for investigating this and providing the workaround. I will give this a spin.

The recommendation for turning these settings off in production is really useful for me. I have been concerned about how Cassandra would behave with akka cluster when multiple akka cluster nodes try to adjust tables or even create keyspaces in the first place. The potential for races / confl

[2017-09-11 15:54] SeorasAshby commented on #230
@patriknw Your workaround worked a treat and allowed my app to upgrade to version 0.55.

Thanks!

[2017-09-28 12:39] #230 closed

[2017-09-29 14:10] Leammas opened #237 "EventsByTagPublisher skips timebucket when there's no demand from upstream and buffer is relatively small"
I experience weird issue with `eventsByTag` query. At some point underlying ActorPublisher has 0 demand from upstream, though I use Sink.ignore. Buffer starts to grow and, eventually, the actor queries cassandra not for all events from a timebucket but with a `limit = maxBufferSize - buf.size`. The query completes, `mightBeMore is false`, the actor shifts to the next timebucket skipping events whi

[2017-10-02 08:37] patriknw commented on #237
Thanks for an excellent issue report. The new test doesn't fail for me, but I'll look at your log.

[2017-10-03 09:04] patriknw commented on #237
I have found the issue and have a fix in progress.

[2017-10-03 09:16] Leammas commented on #237
Great! Thanks a lot.

[2017-10-05 08:29] patriknw commented on #180
I'm pretty sure that we can remove the static column. I have already removed it's usage in the new eventsByPersistenceId (used for replays) query in https://github.com/akka/akka-persistence-cassandra/pull/238

It's also used when finding highest seqNr. We should perhaps look into why finding highest seqNr is needed. Perhaps it's enough to just replay to the end, and use the last seqNr as highest.

[2017-10-06 08:58] stijndehaes commented on #237
@Leammas Good catch finding this out. Having an issue with a lagom micro service where replaying a lot of events in a read side processor also skips events. I am guessing that this is the same underlying issue you have.

[2017-10-09 09:14] #237 closed

[2017-10-09 09:48] patriknw commented on #237
@Leammas 0.57 has been released

[2017-10-09 13:03] Leammas commented on #237
The problem we had has gone. Thank you!

[2017-10-10 06:10] stijndehaes commented on #237
I can confirm that the problem on my side is gone as well!

[2017-10-10 08:11] patriknw commented on #237
thanks for confirming

[2017-10-11 19:24] TimMoore commented on #237
It looks like this issue also affects the Akka 2.4-compatible branch (v0.29). @patriknw do you plan to backport? I think it would be good to make this fix available to Lagom 1.3. If you'd like I can send a pull request against the `release-2.4` branch with a cherry-pick of your changes from #240 (unless you'd prefer to handle it yourself). We'd then need a v0.30 release to consume.

[2017-10-12 08:05] chbatey commented on #221
Hi @barambani the latest version now supports TWCS, thanks for reporting this.

[2017-10-12 08:05] #221 closed

[2017-10-12 08:07] chbatey opened #242 "Share cassandra Cluster object between read/write and snapshot by default"
We currently create 3 separate `Cluster` objects from the driver. These all maintain their own connections/thread pools.

[2017-10-12 08:33] patriknw commented on #242
It's related to how things are configured, which is mess. See https://github.com/akka/akka-persistence-cassandra/issues/81

journal (write), snapshots, query are separate, but then there is also a relation between journal and query for the replays.

[2017-10-12 09:15] patriknw commented on #237
@TimMoore I can backport this and release 0.30

[2017-10-12 09:45] chbatey opened #244 "Support naming of the Clusters for metrics"
Atm we create 3 clusters and don't support naming of them so metrics end up with "cluster1" "cluster2" "cluster3" and it is not deterministic which is the snapshot, write and read journal.

I did try this but it would require a bit of restructuring as currently the read journal uses the write journal's config for a session provider.

[2017-10-12 11:09] patriknw commented on #237
@TimMoore 0.30 released with this included

[2017-10-12 12:35] ktoso opened #247 "Investigate replacement for Materialized Views"
Brought up by @chbatey

Materialized Views are not as reliable as one might think they are, and may even be retroactively be marked as experimental (!), thus we need to investigate a replacement for them.

Examples of issues:

[2017-10-12 12:37] ktoso opened #248 "Document eventsByTag semantics (ordering) more"
We should recommend:

"We strongly recommend enabling delayed-event-timeout (see reference.conf of the cassandra plugin) when you care about retrieving all events." or similar.

More good info in here https://groups.google.com/forum/#!topic/akka-user/TH8hL-A8I4k

It also depends what semantics we'll offer when we'd move off from materialized views https://github.com/akka/akka-persistence-cassandra

[2017-10-12 17:18] TimMoore commented on #237
Fantastic, thanks @patriknw!

[2017-10-12 17:29] patriknw opened #249 "cannot enqueue after timer shutdown"
Small annoyance when shutting down actor system
[code]

[2017-10-16 11:35] patriknw commented on #247
We had a design discussion about this and here are my notes (and some additional thoughts).

`messages` table: PRIMARY KEY ((persistence_id, partition_nr), sequence_nr, timestamp, timebucket))

`events_tag` table: PRIMARY KEY ((tag, timebucket), timestamp, persistence_id, partition_nr, sequence_nr)

After writing to the `messages` tables it will also write to the events_tag table. One row per tag.

[2017-10-16 12:03] chbatey commented on #247
A few questions that come to mind:
* Do we want to support both modes? If users haven't seen any issues with MVs should we force them to migrate? Also if MVs become stable we may way to go back? Or are the extra eventual consistency guarantees enough to justify always doing this manually?
* Do we need to offer near to no down time upgrade path? E.g.
  * Migrate in background
  * Upgrade to a versi

[2017-10-16 12:14] jypma commented on #247
@patriknw Your suggestion is very similar to an implementation we'd done ourselves, before `akka-persistence-cassandra` had querying. I believe we actually _did_ write to the time bucket index first, since it's only an index, and not finding a message afterwards wouldn't be a big deal (you'd just forget about it). Of course you'd complete the future after both index and main store are complete.

W

[2017-10-16 12:21] patriknw commented on #247
One more note regarding deletes that I forgot. We should treat the `events_tag` as completely detached from deletes in `messages`.  We can use TTL with #235.

It's a lot simpler than trying to propagate deletes and also fits the typical use case of `events_tag`, which is to build up a read model in another DB or table that can serve end user queries.

[2017-10-16 12:23] patriknw commented on #247
That is great. I just wanted it to be confirmed one more time that it holds across different partitions.

[2017-10-19 17:05] chbatey opened #250 "Failed: EventsByPersistenceIdWithControlSpec"
Seems to be a flaky test

[code]

[2017-10-19 20:31] chbatey commented on #250
Happened again: https://travis-ci.org/akka/akka-persistence-cassandra/jobs/290092223

[2017-10-23 08:01] patriknw commented on #250
I'll take a look at this

[2017-10-23 09:30] patriknw commented on #250
this was what I tried to fix in https://github.com/akka/akka-persistence-cassandra/pull/241

[2017-10-23 09:30] #250 closed

[2017-10-23 10:58] jypma commented on #247
@ktoso Do you have a reference for _"may even be retroactively be marked as experimental"_? A quick google search didn't turn anything up...

[2017-10-23 11:07] chbatey commented on #247
@jypma here's the permalink to the discussion on the cassandra dev mailing list: https://lists.apache.org/thread.html/d81a61da48e1b872d7599df4edfa8e244d34cbd591a18539f724796f@%3Cdev.cassandra.apache.org%3E

[2017-10-23 13:45] erip opened #252 "`currentEventsByPersistenceId` always returns an empty List"
Sorry for a mishmash of tools, but I'm using Lagom with a Cassandra backend.

I've described the issue on StackOverflow [here](https://stackoverflow.com/questions/46864054/how-do-i-read-all-events-of-a-certain-type-from-a-lagom-persistententitys-read).

[2017-10-23 15:02] erip commented on #252
Possibly because `readJournal.currentPersistentIds().runWith(Sink.seq[String])` is always `Nil`.

[2017-10-23 15:55] chbatey commented on #252
Hi @erip I'd suggest raising this with lagom as this `currentEventsByPersistenceId` and `currentPersitenceIds` work when using this plugin directly.

[2017-10-23 15:55] #219 closed

[2017-10-24 13:13] erip commented on #252
@chbatey I think it might be on lagomlagom#1067

[2017-10-24 14:28] #252 closed

[2017-11-02 07:35] chbatey opened #253 "Tests leak at least two Cassandra cluster obejcts"
Reminder to look at this at some point. Can see it when leaving sbt running.

[2017-11-02 15:31] chbatey opened #254 "Create realistic benchmark for new events by tag implementation"
Vary:

* Try with varying numbers of tags: 2/4/8/16?
* Document when to use which bucket size
* Compare throughput vs old implementation for a realistic scenario
* Compare Cassandra overhead vs old implementation
* Document throughput vs latency for configuring how often we flush tag writes

[2017-11-02 15:34] chbatey opened #255 "Batching tag writer for eventsByTag 2.0"

[2017-11-02 17:18] patriknw opened #256 "Fast-forward in EventsByPersistenceIdStage is triggering a query"
defeats its purpose

[2017-11-02 17:24] ktoso commented on #256
Glad this testing found a 🐞  after all ;-)

[2017-11-06 07:47] chbatey opened #258 "Enforce sane consistencys"
At least for the new events by tag implementation which makes design decisions based on the guarantees of certain consistencies

[2017-11-06 07:49] chbatey opened #259 "Synchronous EventByTag consistency option"
With the new eventsByTag implementation we could offer an option for a `persist` to only complete once the tag write is complete. Would hinder performance.

Only do this is there is user demand as it is at odds with our desire to batch cassandra writes for throughput.

[2017-11-08 08:54] johanandren opened #260 "EventsByPersistenceId: Handle eventual consistency when run with LQ"
EventsByPersistenceId in a different dc may see events out of order when running with local quorum.

When missing a seqNr do a specific query for that seqNr then resume normal operation. No need to buffer the results from the inflight query, can just re-do it after the missing seqNrs. Should have a timeout for finding the missing sequence numbers.

[2017-11-08 11:05] peterlgh7 commented on #248
I strongly agree with this. After reading reference.conf, I was under the impression that, with delayed-event-timeout disabled, I would lose delivery order guarantees, but would still get all events eventually. Possibility of skipped events should be clearly documented, as it can be unacceptable for some projects(my company's included).

[2017-11-10 09:51] chbatey opened #263 "Eventual consistency for delayed events"
The old impl had two options that are no longer supported but could both be added.

**Eventual consistency**: Don't read recent events so that events are more likely to come out in timeuuid order. This is still a valid feature and needs doing for the new implementation.

**Delayed**: If every event is tagged then use the sequence numbers to delay delivery of events if a sequence nr is missing as w

[2017-11-10 11:34] chbatey opened #264 "Remove firstday for eventsByTag query"
The new eventsByTag maintain a table like this (subject to change):

[code]
Which will only have the persistenceIds * tags rows so we could highly replicate it and scan over the entire table to see the actual bucket we should use.

This might be too many rows, need to think about it.

[2017-11-15 04:24] calvinlfer commented on #259
Hey @chbatey, curious to know what's the impact if there's a system failure before the tag write is complete (in batched mode). Are we able to recover from this?

[2017-11-15 07:28] chbatey commented on #259
For the new implementation that isn't in master yet we plan to fix this when the persistent actor is recovering. The tag writer will, best effort, keep track of how far it gets and the recover will complete any tag writes that were missing potenetially writing the tags again but this doesn't matter as they are upserts.

[2017-11-15 13:53] calvinlfer commented on #259
Nice 😀
Thanks!

[2017-11-21 14:22] #256 closed

[2017-11-21 15:37] johanandren commented on #229
https://travis-ci.org/akka/akka-persistence-cassandra/jobs/305301165

[2017-11-22 08:12] chbatey opened #265 "Migration tool for events by tag 2.0"

[2017-11-22 08:14] chbatey opened #266 "Fail fast for large sequence nr gaps in events by tag"
If there's a huge gap then something very had has gone on with the C* cluster and we should fail the stream fast rather than look from them all. The current impl assumes that the # is quite small i.e. is stores them in an unbounded buffer

[2017-11-22 09:33] chbatey opened #267 "Potential optimisation for events by tag missing events search"
When looking for missing events we currently re-scan over current and previous time bucket. The same query is used as for normal event scanning which gets all fields from `tag_views`. If a lot of events are scanned over then this is a lot of traffic from Cassandra.

We could query just the sequenceNrs and persistence id and then once we find the exact primary key of the missing event do a specific

[2017-11-23 16:10] chbatey opened #268 "Clean up of tag_views table"
Use a TTL and probabaly TimeWindow compaction strategy to clean up this table.

Will need to make eventsByTag queries with NoOffset aware they won't see tag pid sequence nrs before older than the TTL.

[2017-11-27 07:11] patriknw opened #269 "allow tables-autocreate=on without adding meta columns"
Smoother migration when updating from version 0.54 to 0.59.

Support `tables-autocreate=on` without having to add the new meta columns to existing messages table.

[2017-11-27 09:19] patriknw commented on #185
Closing this without action, see motivation in https://github.com/akka/akka-persistence-cassandra/pull/199#issuecomment-347122177

[2017-11-27 09:19] #185 closed

[2017-11-27 09:41] #269 closed

[2017-11-28 09:32] chbatey opened #271 "Option to disable tags completely"
It adds a cost for writing and recovery

[2017-11-28 11:02] chbatey opened #272 "Failed: EventsByPersistenceIdFastForwardSpec"
I haven't looked in to this but i'm guessing that if we're looking for missing and we get a fast forward we don't give up looking for missing

https://travis-ci.org/akka/akka-persistence-cassandra/jobs/308359674

[code]

[2017-11-29 12:35] chbatey commented on #272
Re-opeing as i've had this fail locally since fixing the config

[2017-11-30 09:39] #255 closed

[2017-11-30 09:39] chbatey commented on #253
Fixed in master now

[2017-11-30 09:39] #253 closed

[2017-11-30 09:41] chbatey commented on #231
Closing this as it was done and i don't think we need it in the new impl as we can have any number of tags

[2017-11-30 09:41] #231 closed

[2017-11-30 09:42] chbatey commented on #222
Believe this is complete

[2017-11-30 09:42] #222 closed

[2017-12-01 08:03] chbatey commented on #229
Closing as duplicate of #215

[2017-12-01 08:03] #229 closed

[2017-12-01 09:07] chbatey commented on #248
I've added a `EventsByTag.md` for the new version so closing this.

[2017-12-01 09:07] #248 closed

[2017-12-01 10:23] chbatey commented on #272
Finally got some debug logs. I'll fix this on Monday.

[code]

[2017-12-01 12:25] chbatey opened #278 "Failed: EventsByTagStageSpec"
[DEBUG] [12/01/2017 12:01:10.473] [EventsByTagStageSpec-akka.actor.default-dispatcher-4] [EventsByTagStage(akka://EventsByTagStageSpec)] Nothing todo, waiting for next poll
[info] - must find missing first event in previous bucket *** FAILED *** (11 seconds, 58 milliseconds)
[0minfo]   java.lang.AssertionError: assertion failed: expected: message matching partial function but got unexpected messag

[2017-12-01 12:25] #272 closed

[2017-12-01 12:41] chbatey commented on #278
This is a test issue. The test, with bad luck on the timing, can end up writing the event two buckets ago rather than one

[2017-12-01 16:14] chbatey commented on #278
Hopefully this is fixed by #279 closing for now

[2017-12-01 16:14] #278 closed

[2017-12-01 16:17] patriknw commented on #81
another small note; perhaps make it possible to have different refresh-interval for the different types of quieries

[2017-12-04 15:02] RibleStrype opened #281 "Message replay for an actor gets stuck after exception during message serialization occurs"
If exception occurs during serialization of AtomicWrite in <code>asyncWriteMessages</code> a future that gets put into a map <code>writeInProgress</code> of <code>CassandraJournal</code> never completes. This makes all subsequent replay requests stuck since <code>asyncReadHighestSequenceNr</code> completes only after <code>writeInProgress</code> completes which never does.

[2017-12-05 14:51] chbatey opened #282 "Failed: EventsByTagSpec"
Full debug logs here: https://travis-ci.org/akka/akka-persistence-cassandra/jobs/311864858

[code]

[2017-12-06 07:33] #281 closed

[2017-12-06 07:33] chbatey commented on #265
We can do more work on this e.g. try it with larger migrations and maybe offer a spark version for really large use cases but for now it is documented and in master so closing this

[2017-12-06 07:34] #265 closed

[2017-12-06 07:34] #260 closed

[2017-12-06 09:32] #282 closed

[2017-12-06 09:32] #225 closed

[2017-12-08 10:01] chbatey opened #292 "Failed: EventsByTagMigrationSpec"
https://travis-ci.org/akka/akka-persistence-cassandra/jobs/313399259

This looks to have failed starting up cassandra before the test

[code]

[2017-12-13 09:48] chbatey opened #293 "Migration to events 2.0 via a spark app"
It would be nice to show how to do it with spark for users who have huge messages tables

[2017-12-15 09:50] patriknw opened #294 "InstanceAlreadyExistsException Unable to register counter"
Nothing critical but we should try to make the jmx metrics names unique.

[code]

[2017-12-15 16:14] patriknw opened #295 "EventsByPersistenceIdStage: Previous query was not exhausted"
version: 0.80-RC2

[code]

I have full debug logs if needed.

[2017-12-16 10:18] chbatey commented on #295
Looking at the code I can see this happening when we go into looking for missing mode, can you send me logs to confirm?

[2017-12-16 12:26] patriknw commented on #295
Here is the log. Including 10000 lines before the error.
[log13_exhausted.txt.gz](https://github.com/akka/akka-persistence-cassandra/files/1564737/log13_exhausted.txt.gz)

[2017-12-19 11:46] #295 closed

[2017-12-19 11:46] chbatey commented on #215
https://travis-ci.org/akka/akka-persistence-cassandra/jobs/318567847

[2017-12-20 10:52] patriknw opened #299 "EventsByPersistenceIdStage: Query already in progress"
I forgot to delete snapshots but deleted all messages. Not sure if that is related, but got this:
[code]

[log22_inprogress.txt.gz](https://github.com/akka/akka-persistence-cassandra/files/1575216/log22_inprogress.txt.gz)

[2017-12-20 16:51] chbatey commented on #299
Different to the last one, but similar, it is when we go via the timer and we've given up the last time looking for missing. I failed at  making a test that deterministically fails

[2017-12-21 06:01] #299 closed

[2018-01-03 16:36] chbatey commented on #294
Was this running multiple in the same JVM?

[2018-01-03 16:36] #271 closed

[2018-01-03 16:36] #268 closed

[2018-01-03 17:07] patriknw commented on #294
It was the apps sampl, ec2 testing. So only one ActorSystem per jvm.

[2018-01-16 07:36] patriknw opened #305 "support old format in first-time-bucket config"
first-time-bucket = "20160225"
IllegalArgumentException: Invalid first-time-bucket format. Use: yyyyMMdd'T'HH:mm

I thought we fixed this, but seems not.

[2018-01-16 09:24] chbatey commented on #305
Were you using Day as bucket size? We do have a test for this: https://github.com/akka/akka-persistence-cassandra/blob/bf6bcbfa5d5616a285872ff605430c5b18ea289c/core/src/test/scala/akka/persistence/cassandra/CassandraReadJournalConfigSpec.scala#L25

[2018-01-16 10:12] patriknw commented on #305
It was when trying to use 0.80 with lagom 1.4 with old config. I'll forward the email to you. No change to bucket size, since that config was not known previously.

[2018-01-16 15:08] chbatey commented on #305
Gotcha, so the old format only works if you use Day and we made Hour the default. Do we want to allow the old format for other bucket sizes? Might force users to think about bucket size when migrating.

[2018-01-16 16:06] patriknw commented on #305
Ah, perhaps we could detect this situation and throw an explaining exception?

[2018-01-23 09:04] merlijn opened #308 "Concurrent CassandraSession setup()"
In our application we are seeing concurrent initialization of Cassandra Sessions from the akka cassandra persistence journals.

This causes [this](https://github.com/akka/akka-persistence-cassandra/blob/bf6bcbfa5d5616a285872ff605430c5b18ea289c/core/src/main/scala/akka/persistence/cassandra/session/scaladsl/CassandraSession.scala#L122) logic being hit.

This results in one Session/Cluster being clo

[2018-01-23 11:31] johanandren commented on #308
Could also (preferably?) be done without a lock but with additional cas-states that signifies connecting/closing making sure that only one thread will be doing that concurrently

[2018-01-23 14:16] #294 closed

[2018-02-05 14:26] chbatey opened #310 "0.80 migration should periodically flush/back pressure"

[2018-02-07 14:21] chbatey commented on #81
Discussed structure:

[code]

[2018-02-07 14:28] patriknw opened #311 "remove config table"
Document that partition size can't be changed, but remove the runtime check

[2018-02-07 14:38] #247 closed

[2018-02-07 14:39] #11 closed

[2018-02-07 14:39] #161 closed

[2018-02-08 21:53] glammers1 opened #312 "Apparently TagPidSequenceNr is reset to 1 when the application is restarted causing duplicates"
I'm doing some tests with the default configuration and, in my humble opinion, there're some unexpected behavior.

I have an actor that receives Increment messages to increase a counter. When the application is running from scratch everything works fine, the events Incremented are persisted in the messages table and tag_view table, also tag_write_progress looks pretty good.

(I've simplified the e

[2018-02-09 13:06] chbatey commented on #312
Hi @glammers1 This looks broken. I just did your scenario but it worked and we have a test that does this. Is this something that's happening deterministically for you? If so can you send me the logs @ DEBUG level?

[2018-02-09 13:24] chbatey opened #314 "upgrade to sbt 1.1"

[2018-02-12 07:42] chbatey commented on #312
The logs i'd be interested in are (we left pretty verbose debug logging in for this initial version):

Seeing the recovery of the persistent actor, what sequence number from:
- Recovering pid {} from {} to {}
- Starting recovery with tag progress: {}. From {} to {} (this tells us what tag progress managed to be saved, this is best effort, so may be behind).

Then any of the missing tag writes bein

[2018-02-12 09:25] chbatey commented on #312
I think this happens when you have a snapshot for the latest event when you close down.

The journal currently uses the replay messages to restore tag pid sequence numbers and write any missed tag_writes causes by a hard/crash shutdown.

I would suggest not using 0.80 if you use snapshots until we find a solution for this

[2018-02-12 11:33] glammers1 commented on #312
Hi,

As you have said the issue is related with snapshotting. You can use this [PoC](https://github.com/glammers1/akka-persistence-cassandra-poc) to reproduce the issue (I think is easier to use the PoC in DEBUG log level instead of copying the logs here in order to have full control of the problem, but I don't care to copy them here if you need it).

The project have the following:

* Api to send

[2018-02-12 14:24] chbatey commented on #312
Thanks for the comprehensive reproducer.

The reason moving the saveSnapshot fixes it as the bug only happens if the last event you do before shutting down is in the latest snapshot.

I've tested your project with the PR I raised (https://github.com/akka/akka-persistence-cassandra/pull/316) and it fixes the issue.

[2018-02-13 08:24] chbatey opened #318 "Switch group id to com.lightbend"
May as well do this when we do 1.0?

[2018-02-13 09:17] patriknw commented on #318
yes, the only thing I'm always scared of when doing that is that there is a risk that users end up with both jars on the classpath and it's unclear which one is used. Package rename would solve that but we already have a decent package name.

[2018-02-13 09:40] #310 closed

[2018-02-13 09:40] chbatey commented on #312
Fixed by #316

[2018-02-13 09:40] #312 closed

[2018-02-13 15:25] #311 closed

[2018-02-13 17:56] TrustNoOne opened #319 "TagWriter fails when actor is restarted before tag progress is written"
I am trying to reproduce a bug I have in a test. This is what I think happens:
- some tagged events are written and then the actor is stopped
- the actor is restarted but the [tag progress lookup](https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/scala/akka/persistence/cassandra/journal/CassandraRecovery.scala#L43) doesn't see the progress because [it has not yet been wr

[2018-02-14 07:50] TrustNoOne opened #320 "TagWriters are never stopped"
As far as i know, [TagWriters are never stopped](https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/scala/akka/persistence/cassandra/journal/TagWriters.scala#L122).

In some cases it could be desirable to design aggregate roots using multiple actors (in the same hierarchy maybe) for separation of concerns and tag them all using the same tag. I am actually doing this in pr

[2018-02-14 07:56] chbatey commented on #319
Thanks for the detail. It is expected that we'll miss some writes from a shutdown and recover them on restart from the events table but something must be wrong with that process. I'll take a look

[2018-02-14 07:59] chbatey opened #321 "Remove date tiered compaction"
It isn't a good option and we've had it as deprecated for some time

[2018-02-14 09:41] chbatey commented on #320
This is a good idea so we can support use cases with a lot of tags.

We could also fix this by having a single tag writer actor rather than one per tag.

[2018-02-14 09:46] chbatey commented on #319
When running your reproducer I had it crash in the same place as your test rather than the second place.

That is a sanity check to make sure that CassandraJournal sends messages in sequence nr order (mainly put in to make sure the assumptions about akka persistence were correct). However in this case it isn't out of order it is receiving the same event from recovery than directly from the persist

[2018-02-14 11:24] TrustNoOne commented on #319
I guess that would work well. What happens when recovery is started with an outdated write progress? Tagged events are written again I guess?

[2018-02-14 11:36] chbatey commented on #319
Yep, and the primary key is deterministic so it will upsert rather than duplicate events.

I went with the second option while i'll raise a PR for soon. We can cut a release if it blocks you @TrustNoOne or if you can work off the snapshot we can see if you find any other issues?

[2018-02-14 11:38] TrustNoOne commented on #319
I'm more than happy to test it off the snapshot, is it published on a public repo?

[2018-02-14 14:55] chbatey commented on #319
@TrustNoOne I've raised https://github.com/akka/akka-persistence-cassandra/pull/322 and adapted your reproducer to a test called EventsByTagRestartSpec.scala which restarts an actor many times.

[2018-02-14 16:08] TrustNoOne commented on #319
I am trying to build it locally to test it but it can't find org.boris:pecoff4j:0.0.2.1, any idea how I could test it?

[2018-02-14 16:54] chbatey commented on #319
That's odd, I don't see it in `dependencyGraph` and I don't have it in my local cache.

[2018-02-14 17:07] TrustNoOne commented on #319
It was due to an old version of coursier I was using, it was ignoring the exclusion in [sbt-whitesource](https://github.com/lightbend/sbt-whitesource/blob/master/build.sbt). I upgraded coursier to 1.0.1 and it works now. I'll report back after testing it tomorrow, sorry for the unrelated bug ;)

[2018-02-15 08:29] chbatey opened #323 "Events by tag offset scanning for queries in the current timebucket"
When starting an events by tag query with an offset that is in the current time bucket it isn't clear which sequence number to expect.

It was initially thought that relying on cassandra unlogged batch isolation meant we could assume they'd come in order they were written. Under load testing this was proven not to be the case (don't believe the c* datastax docs).

For that reason a period of scann

[2018-02-15 09:13] chbatey opened #324 "Option to disable events by tag "safety""
If an events by tag query starts in the current time bucket a phase of scanning for the latest sequence number happens before the real queries. This is for cases where there are a lot of concurrent writes.

We could turn this off and just start from what ever sequence number we find

[2018-02-15 09:52] TrustNoOne commented on #319
done, everything looks good 👍

[2018-02-15 09:59] chbatey commented on #319
Thanks for validating, will cut a release today or tomorrow.

[2018-02-15 16:51] #319 closed

[2018-02-16 13:29] chbatey commented on #319
FYI this is in 0.82

[2018-02-16 13:49] TrustNoOne commented on #320
The current `TagWriters` actor already receives all tagged events and forwards them to children, I guess a single actor would work fine instead of relying on timeouts.

On a different note, shouldn't this be a bug? It's a regression since this use case was supported before, I am actually using it so I cannot migrate any env to the new version until this is done

[2018-02-21 05:46] TimMoore opened #327 "CassandraLauncher does not replace outdated Cassandra bundle"
`CassandraLauncher` works by extracting a bundled Cassandra JAR from its resource path to a directory passed by the caller.

Currently, it [tests whether the `cassandra-bundle.jar` file already exists in that directory](https://github.com/akka/akka-persistence-cassandra/blob/0d8e507d59a9735de75eb421317df943d919a50a/cassandra-launcher/src/main/scala/akka/persistence/cassandra/testkit/CassandraLaunc

[2018-02-21 09:13] ikr0m opened #328 "Undefined column name tags"
I've following error:
[code]
I'm using scala 2.12, akka 2.5.8, playframework 2.6.11. Dependencies.scala contains:
[code]

I suspect that it happened after I tried with `akka-persistence-cassandra v0.82` yesterday. So, I had been using v0.58, then tried with v0.82, worked for a while, then started using v0.58 again.

[2018-02-21 09:35] patriknw commented on #327
Is the default `cassandraDirectory` in target? Then a `clean` will remove it?

[2018-02-21 09:40] TimMoore commented on #327
@patriknw yes, a `clean` works to remove it (although a bit overkill). It's just a bit surprising and unintuitive, but not a major problem.

I puzzled over this a bit myself when testing the v0.60 update in Lagom and had to dig through the source code a bit before I realized what was happening. So I think some users might run into it as well.

I can send a pull request when I have some spare time,

[2018-02-21 09:57] patriknw commented on #327
thanks

[2018-02-21 11:38] ikr0m commented on #328
I've run following code as described in migration guide and then error disappeared:
[code]
Interesting part that the issue happened in v0.58. Maybe because I've created events/snapshots/persistenceIds when I was testing v0.82. Now I'm using v0.58.
This issue can be closed.

[2018-02-21 12:23] patriknw commented on #328
Note that if you use auto-create tables that will only create the new table definitions if there is no existing table, i.e. you have to drop the tables or keyspace to re-create new tables. In production you would use alter table to not loose data. I think `EventsByTagMigration` class adds the columns when migrating to 0.80+
https://github.com/akka/akka-persistence-cassandra#migrations-to-080-and-l

[2018-02-21 12:23] #328 closed

[2018-02-21 12:36] ikr0m opened #329 "Delete persistenceId"
I can delete events and snapshots. It's nice.
I create persistenceIds dynamically and it leads many persistenceIds. Many of them are not used after some period (because they are already used and not necessary anymore) and I want to delete those persistenceIds.
Looks like it's not possible currently to delete persistenceIds. So I propose like this:
1. Delete persistenceIds by persistenceId
2. Purge

[2018-02-23 17:32] masih opened #330 "Make schema statements more accessible"
Considering:
- it is recommended, [by the framework itself](https://github.com/akka/akka-persistence-cassandra/blob/v0.83/core/src/main/resources/reference.conf#L48-L51), to create the schemas manually, and
- the lack consistency guarantee in Cassandra schema create/alter/delete statements

would it be possible to make the statements such as [this](https://github.com/akka/akka-persistence-cassandr

[2018-03-01 09:35] CraftyFella opened #331 "Is creating a sessionProvider and connecting multiple times an issue?"
Hi,

I'm writing a health check for an akka api and i want to ensure that the api can talk to cassandra so I've created a health check which connects to cassandra and checks the version in the `system.local` table.

Here is a sample of the code:

[code]

[2018-03-01 09:44] CraftyFella commented on #331
According to https://docs.datastax.com/en/drivers/java/2.0/com/datastax/driver/core/Session.html

[2018-03-05 13:42] patriknw opened #332 "Improve performance of asyncReadHighestSequenceNr"
The select highest journal sequence number cql query orders the journal messages by sequence_nr in descending order to get the highest sequence number. The journal's messages table orders the messages by sequence_nr in ascending order by default. This can cause the query to be much slower and take away much of the performance benefit of using snapshots.

[2018-03-05 13:50] patriknw commented on #332
In the end we need a `RecoverySuccess(highSeqNr)`, but it's unclear to me why we have to first `asyncReadHighestSequenceNr` and then `asyncReplayMessages`, instead of using the last sequenceNr from `asyncReplayMessages`. Perhaps it's because `asyncReadHighestSequenceNr` is also using `asyncHighestDeletedSequenceNumber`? Might be possible to use max of `asyncReplayMessages` and `asyncHighestDeleted

[2018-03-12 16:13] patriknw commented on #332
I'm starting to work on this.

[2018-03-14 09:56] patriknw commented on #332
I have not been able to reproduce any performance problem with asyncReadHighestSequenceNr. Tried with 5 million events and that query is still sub millis response time (not increasing with number of events).

[2018-03-14 09:59] patriknw opened #333 "recovery is slow when tagging enabled and no tags used"
If a persistent actor doesn't tag events but the feature is still enabled on the journal level the recovery is slow when there are many events. That is because there is no progress offset and then it scans all events. Seen in logs as:

[code]

With 600k events that took 10 seconds.

[2018-03-19 06:51] patriknw commented on #333
I'll try to work on this. Not sure what approach to take yet, but will share ideas when I have some.

[2018-03-19 16:17] patriknw commented on #333
One thought is that we add another table to keep like a low watermark of sequence_nr per persistence_id and that can be used as the starting point for the tag scanning during replay. It doesn't have to be updated for each write. Probably easiest to update it for both tagged (confirmed written to tag_view) and untagged events.

[2018-03-20 12:42] chbatey opened #334 "Document consistency options when running in multiple DCs"

[2018-03-20 17:36] chbatey opened #335 "Deleting events can cause tags to be replayed"
`asyncReadHighestSequenceNr` (from the public API) also replays tag writes as it assumes it is a recovery however it is also called for a deletion

[2018-03-21 11:41] patriknw commented on #335
good catch

[2018-03-22 16:48] chbatey commented on #330
Good idea

[2018-03-23 15:13] chbatey opened #338 "Failed: EventsByPersistenceId"
https://travis-ci.org/akka/akka-persistence-cassandra/jobs/357419611

[code]

[2018-03-23 16:04] #333 closed

[2018-03-24 16:33] sreeraaman opened #339 "batch size when writing to tag_views table way ahead of the default 50KB limit."
Hello Everybody,

We have an event sourced application that writes to Cassandra via Akka Persistence Cassandra version 0.83.

While ingesting data from more than one node via scala kafka client akka actor (https://github.com/cakesolutions/scala-kafka-client), we observed that cassandra throws the following error:

**ERROR 07:36:42 Batch of prepared statements for [akka.tag_views] is of size 909904

[2018-03-25 05:11] sreeraaman opened #340 "Retrieve event occurrence time via currentEventsByPersistenceId"
Hello Everybody,

We wanted to show an audit trail showing the list of events, their sequence numbers and the occurrence time for each persisted entity via currentEventsByPersistenceId query.

The query is as follows:
`
val journal = PersistenceQuery(context.system).
        readJournalFor[CassandraReadJournal](CassandraReadJournal.Identifier)
      journal.currentEventsByPersistenceId(s"UserEntit

[2018-03-27 06:51] chbatey commented on #339
It is configurable so you can adjust it based on sthe size of your events. See https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/resources/reference.conf#L165

Questions are better off on https://discuss.lightbend.com/c/akka/ with the persistence tag rather than raising issues.

[2018-03-27 06:51] #339 closed

[2018-03-27 06:52] #335 closed

[2018-03-29 09:56] chbatey opened #344 "Failed: EventsByTag"
[code]

https://travis-ci.org/akka/akka-persistence-cassandra/jobs/359741479

[2018-04-11 02:37] jmyeong opened #345 "This repository is not searchable without "fork: true" option"
When I typed "akka-persistence-cassandra" in search form of github, this project doesn't show because this project was forked from original project. but the original project(https://github.com/krasserm/akka-persistence-cassandra) is not maintained anymore.

I think, this project(https://github.com/akka/akka-persistence-cassandra) will be better to be displayed first, when we search with "akka pers

[2018-04-24 14:26] ktoso opened #346 "Set AutomaticModuleName to enable JDK9+ users to consume as module"
Do the same dance as we do in Akka here: https://github.com/akka/akka/blob/master/project/AutomaticModuleName.scala

[2018-05-03 09:03] olivierdeckers opened #347 "High eventsByTag latency when empty time buckets are present"
When a certain persistence id generates some messages, then nothing for one or more timebuckets, and then a new message is persisted, the persistence plugin will always wait for the configured gap-timeout before the stream starts returning results.

This is because it only looks at the current and the previous timebucket, even if it is empty, so it will never see the "missing" events.

I included

[2018-05-14 08:29] e-kolpakov opened #350 "Eager initialization is not sufficiently eager."
Steps to reproduce:

1. Enable debug logging `akka.loglevel = DEBUG`
2. Filter log records by "Create plugin" (i.e. `tail -f application.log | grep "Create plugin"`)
3. Configure plugin to eagerly initialize journal and snapshot store:

[code]

4. Start the application.
5. Trigger actor recovery.
6. Observe the follwoing:
6.1. `cassandra-journal` and `cassandra-snapshot-store` are eagerly initiali

[2018-05-21 09:19] patriknw commented on #350
@e-kolpakov Thanks for reporting. I think this is specific for akka-persistence-cassandra. Can you create the issue [there](https://github.com/akka/akka-persistence-cassandra/issues/new) instead?

[2018-05-21 13:18] johanandren commented on #350
@patriknw this is the akka/akka-persistence-cassandra repo?

[2018-05-21 13:38] patriknw commented on #350
Doh, sorry.

[2018-05-21 14:49] chbatey commented on #350
Note that we will make it the same connection for 1.0 when we break the config https://github.com/akka/akka-persistence-cassandra/issues/81

[2018-05-22 06:43] chbatey commented on #347
Thanks for reporting @olivierdeckers i'll take a look at this

[2018-05-23 15:31] asenovm opened #352 "No way of changing load balancing policy"
Hi,

I'm trying to use RoundRobin load balancing policy, but I'm popping into the following issues:
 - Not setting local-datacenter does not lead to this policy being used (contrary to the documentation which states that "By default, this property is not set resulting in Datastax's standard round robin policy being used"). Instead when I don't set it, DcAwareRoundRobin policy is used, but the loca

[2018-05-29 14:17] chbatey commented on #352
This wasn't the intended extension point but it should work fine.

I'm surprised that leads to the consistency levels being ignored as they are set directly on the prepared statements:

https://github.com/akka/akka-persistence-cassandra/blob/v0.51/src/main/scala/akka/persistence/cassandra/journal/CassandraJournal.scala#L94

How are you validating the consistency is ignored?

[2018-05-30 09:36] chbatey commented on #350
Closed via #351

[2018-05-30 09:36] #350 closed

[2018-05-31 06:33] chbatey commented on #331
That log is from netty which is used by the cassandra driver. You should make a single session and inject it every where you need it.

[2018-05-31 06:33] #331 closed

[2018-05-31 06:34] chbatey commented on #345
Unfortunately the original owner doesn't want us to make this the main one. We could consider detatching this at some point.

[2018-05-31 06:38] chbatey commented on #340
Hi @sreeraaman the TimeUUID offset is only used for the eventsByTag query as there is no natural sequence number. I think your only option would be to include a time in the event if you want them as part of your processing on the read side.

[2018-05-31 06:38] #340 closed

[2018-05-31 06:41] chbatey commented on #329
Offering a clean up API would be possible. We started to do that in `CassandraDeletion` but didn't make it public. It could either be an official API provided by Akka that we implement or just a custom one for this plugin. Would you like to work on that?

[2018-05-31 07:31] patriknw opened #355 "use AsyncSerializer in Akka 2.5.13"

[2018-05-31 08:44] #355 closed

[2018-05-31 15:55] e-kolpakov commented on #350
Thanks guys!

[2018-06-08 12:10] hervandevliert opened #356 "eventsByTag fails after upgrading from version 0.54 to 0.85"
After upgrading from version 0.54 to 0.85 the _eventsByTag_ source gives message "_Missing event for new persistence id: ???. Expected sequence nr: 1, actual: ???._"

## Scenario:
1. One or more event are persisted
2. eventsByTag is started with an offset (offset after persisting Event 1).
3. New Event is persisted

**Expected**
eventsByTag provides Event that is persisted in step 3

**Actual**
ev

[2018-06-14 15:21] brettdaman commented on #347
+1

[2018-06-14 15:32] nicovanlooy commented on #347
+1

[2018-06-15 07:00] kevinverelst commented on #347
+1

[2018-06-15 07:09] intergalactic-overlords commented on #347
+1

[2018-06-15 07:53] Anntje commented on #347
+1

[2018-06-21 09:29] ayushworks opened #357 "Optimize asyncReadHighestSequenceNr implementation"
`CassandraRecovery ` class implements the method. Following is the code

[code]

It reads the metadata table first to get the `deleted_to `  for the given persistence id and then proceeds.

Metadata table would contain data only if snapshots are used or deleteMessages api is called. However that is not always true. Some  application never insert data into metadata table because they does not delet

[2018-06-25 12:59] chbatey commented on #347
What behaviour would you like to see? There's always a chance that a query could see sequence nr N+1 for a new persistenceId before seeing N.

The gap-timeout is currently used for times we definitely know there is a gap because we've seen the persistenceId previously and for new persistenceIds.

I can't think of a usecase where you'd want to not look for a missing sequenceNr for a known persitesn

[2018-06-25 14:02] olivierdeckers commented on #347
I think the problem is caused by the fact that an entity is considered 'new', while it actually isn't. The log file I added in the issue contains the following line:

Entity1 is not a new entity, so it is strange that the expected sequence number is 1. How is this sequence number calculated? Is it retrieved from the tag_views table?

[2018-06-25 14:33] chbatey commented on #347
New here means it is the first time that this events by tag query has seen it.

The sequence nr is per tag/pid combination to guarantee ordering per pid.

For offset queries that start in the current tie bucket we don't know what the first tag pid sequence nr should be. We try to work it out at the start of the query by finding the tag/pid sequence nrs in the current bucket but in this case the pi

[2018-06-25 16:34] olivierdeckers commented on #347
@chbatey Thanks for the PR!

It is not entirely clear to me what the risks are of setting this new config parameter to zero or a low value. The documentation says the stage will fail if events are returned out of order. When is this detected? Does the stream fail before or after the out-of-order events can be read from it?

I am also wondering if it is possible to use the information in the tag_vi

[2018-06-26 11:22] ikr0m opened #360 "Backward compatible class field serializer/serialization issue"
Until I started using akka-persistence, I used akka-kryo-serialization https://github.com/romix/akka-kryo-serialization. Then I started using akka-persistence with akka-persistence-cassandra. Everything worked fine.
But when I added new field to my case class which was persisted to cassandra, recovering snapshot failed. Below is error log:
[code]
Above error appears if I add new field `tdate1` to

[2018-06-26 13:23] johanandren commented on #360
This is unrelated to cassandra and something _you_ must take care of in your application, having auto-generated serialization is in general problematic. Read the [Schema Evolution](https://doc.akka.io/docs/akka/current/persistence-schema-evolution.html#schema-evolution-in-event-sourced-systems) section of the Akka persistence docs carefully.

If you have further questions, please use the [forums](

[2018-06-26 13:23] #360 closed

[2018-06-26 15:20] chbatey commented on #347
The risk would be that a delayed event with a timestamp greater than the offset is delayed somehow and we get a newer event and assume that is the first we will see and deliver it.

I don't think there being an event with a greater offset rules out the above delayed event. Because isolation doesn't exist in Cassandra we can always see them out of order. Once we've seen a persistenceId during a que

[2018-06-28 12:57] jroper opened #361 "Cassandra launcher reason for port bind failure is swallowed"
I'm raising this issue just so we have a record of it in case other people find the same problem.

When we launch the embedded Cassandra with the Cassandra launcher, if it fails to bind the port, the reason for it failing is swallowed. This is particularly frustrating in CI, in one instance that I've seen this happen there's no obvious reason why it's failing (it's binding on a random ephemeral po

[2018-07-17 10:20] chbatey opened #363 "Not all tests work in external mode"

[2018-07-18 06:34] TimMoore opened #364 "Cross build for Scala 2.13.0 milestones"
It would be nice to have 2.13.0-M3 cross-built releases of Akka Persistence Cassandra so downstream dependents (such as Lagom) can test with the 2.13 milestones.

(Also 2.13.0-M4, pending https://github.com/akka/akka/issues/25105)

[2018-07-18 08:38] ktoso commented on #364
Yes good point

[2018-07-18 14:18] chbatey opened #366 "Support for ScyllaDB"
As it stands various persistent query tests sporadically fail with ScyllaDB, particularly the `EventsByTagStageSpec`. A lot of time was spent working with/around Cassandra's undocumented/incorrectly documented semantics around logged batch isolation. The same effort needs to take place for ScyllaDB.

If you want to run against a local ScyllaDB you can set mode to External in `CassandraLifecycle.sc

[2018-07-20 14:50] chbatey commented on #363
Fixed by https://github.com/akka/akka-persistence-cassandra/pull/365

[2018-07-20 14:50] #363 closed

[2018-07-20 14:57] chbatey opened #367 "Concurrent deletes can leave metada table inconsistent"
Delete 1 for seqNr N
Delete 2 for seqNr N + 1

The first step of deleting is to write to the metada table so it is "atomic" even if it crosses partitions. Both the writes to the metadata table are async so the insert for seqNr for N may over take the insert for seqNR + 1 leading to the wrong value in deleted_to in metadata table.

Possible solutions:
* Don't allow concurrent writes to the metadata

[2018-07-24 09:09] #103 closed

[2018-07-24 09:14] chbatey opened #370 "Failed: Unable to bind to port"
Currently any test that extends `CassandraSpec` will start its own Cassandra instance on a random port. Even though the port is verified to be free before joining infrequently Cassandra will fail to bind in travis. I haven't seen this locally.

We could improve build stability by:

* Running all the tests against the same Cassandra that we launch and close down once.
* Retry creating the Cassandra

[2018-07-25 06:42] chbatey commented on #364
@TimMoore let me know if this is blocking you and we can bump it up

[2018-07-25 07:55] TimMoore commented on #364
Not blocking. Scala 2.13 support is a low priority for us, but I've been trying to at least chase down dependencies so that we don't have to discover them all after 2.13 GA. Feel free to hold off until you're ready.

Thanks for asking!

[2018-07-26 01:26] TimMoore opened #371 "Protection against concurrent access by multiple clusters or single instances"
A system can get into a bad state where multiple clusters form (due to a split-brain scenario or deployment mistake) or multiple single instances of a non-clustered system are running. If these are configured to use the same database and keyspace, they can result in a forked event history (data corruption).

Although there is no perfect solution to this, maybe a best-effort approach could be taken

[2018-07-26 01:32] ktoso commented on #371
We have indeed looked into leases in the past to avoid such issues but I'm not sure if that's pull-off-able on cassandra... Will discuss with @chbatey more today and see if we can include it in plans here.

[2018-07-26 06:13] chbatey commented on #371
I think this is applicable to all journals so we should do a mechanism in akka-persistence that journals can opt into.

Related Akka ticket: https://github.com/akka/akka/issues/24147

[2018-07-26 06:14] chbatey commented on #371
We hadn't discussed an Akka cluster leasing a keyspace, I think this is a good idea as a lease per persistenceId would be quite heavy.

[2018-07-26 14:36] #367 closed

[2018-07-27 06:55] chbatey opened #372 "Delivery of duplicate sequence nrs"
Core akka-persistence has as a replay filter to deal with duplicate sequence numbers due to multiple persistent actors running with the same persistence id. This can happen if not using cluster sharding or a split brain without using an appropriate strategy for dealing with the split.

However the `EventsByPersistenceIdStage` drops duplicate sequence numbers meaning that they never get to the repl

[2018-07-30 08:35] chbatey commented on #347
Closing this as i've released a version with the additional timeout. If you can think of any other improvements or a scenario where the latency is high feel free to re-open or raise a new issue.

[2018-07-30 08:35] #347 closed

[2018-07-30 08:38] chbatey commented on #320
Sorry @TrustNoOne I missed your last comment. Yes I think this is a regression.

[2018-07-31 01:48] ktoso commented on #263
This is part of the 0.80+ series changes right @chbatey ?

[2018-07-31 01:48] ktoso commented on #263
(Assigning milestone would be nice :-))

[2018-07-31 05:10] chbatey commented on #263
Not sure why this is closed

[2018-07-31 05:35] ktoso commented on #263
Ah, good, that explains a lot then :)

[2018-08-02 09:36] wanghuatao opened #375 "can not persist in future for ..yield block"
this is my code:
for(info <- future) yield{
  persist(someEvent){evt =>
    dosomething.// sometimes can not work
 }
}

when I call persist(someEvent){evt => dosomething} in future block,sometimes it can not work.

[2018-08-02 10:05] chbatey commented on #375
Please ask questions on https://discuss.lightbend.com/c/akka

`persist` should only be called from the Actor thread. Not a Future callback.

[2018-08-02 10:05] #375 closed

[2018-08-03 03:26] #372 closed

[2018-08-06 16:18] ksmolder commented on #259
Do I understand correctly that currently the Future of the `asyncWriteMessages` method is filled in when the events are written in the messages table but that updating the tag view can still take some time (seconds?) to complete?

[2018-08-07 06:11] chbatey commented on #259
Yep that's right @ksmolder, they're async (as was the materialized view impl)

[2018-08-09 06:22] nvollmar opened #378 "API For deleting tagged events"
After deleting all events from a persistent actor (through deleteMessages) they are still recovered through tagged persistence queries.

Delete should (eventually) delete them from the tag views too.

[2018-08-13 00:26] TimMoore commented on #330
As part of this, it would also be handy to create a utility to print out the schema statements without executing them.

[2018-08-13 01:49] ktoso commented on #330
Yeah great idea. Maybe even do so when plugin starts and the tables not yet there?
With auto create still print them but also a warning to not use auto create?

[2018-08-13 01:54] TimMoore commented on #330
That's a good idea, too, but I was thinking of a CQL script generator that could be run separately from the app with deployment automation tooling. So, not logging, but just output the CQL to standard output so you can pipe it to `cqlsh` for example.

Not sure. It's fine for development and testing, and we wouldn't want to be too noisy in those environments.

[2018-08-13 01:57] ktoso commented on #330
For dev and testing I'd think we want to move to enabling this mode perhaps... @chbatey likely has opinion here.

But the println we want anyway so let's prep those I think.
Could be a small app, though a bit weird to me... no strong opinion on it though.

[2018-08-14 05:12] jiminhsieh commented on #314
This issue is blocked by https://github.com/jrudolph/sbt-optimizer, sbt-optimizer doesn't release for sbt 1.x. We need to wait for one of https://github.com/jrudolph/sbt-optimizer/pull/16 and https://github.com/jrudolph/sbt-optimizer/pull/15 merged.

[2018-08-14 05:26] chbatey commented on #314
We can remove sbt-optimizer in the mean time. It was there to speed up the build at one point

[2018-08-14 06:28] patriknw commented on #330
Sounds good. Probably best to provide it as a Seq[String] and then it can be piped to whatever. Perhaps keep the keyspace and table statements separate.
Note that it must be running with the right ActorSystem since some is taken from config.

Later I'd also like to include the statements in the documentation.

[2018-08-14 07:28] chbatey commented on #330
:+1: if we can run this and put it in docs

[2018-08-14 09:52] patriknw opened #379 "Document that Tagged wrapper is "removed""
If storing event wrapped in `Tagged` it will be retrieved unwrapped in queries like `eventsByTag`.

[2018-08-14 15:51] patriknw commented on #378
That should be discussed. Having the tagged view detached has benefits. For example, a rather common case is that you use snapshots on the write side and delete events before the snapshots. That doesn't mean that events can automatically be deleted from the read side since that might not have consumed the events yet or consumption is detached (should be possible much later by new consumers).

I th

[2018-08-15 00:28] assiotis commented on #366
In our tests, we had to set `cassandra-journal.events-by-tag.enabled = false` for recovery to work. Otherwise, recovery would fail sporadically, even though we are not using query or tags.

[2018-08-16 10:14] struijenID opened #382 "Received Done when in idle state"
We are currently using Akka Persistence Cassandra 0.87 (akka 2.5.13) in our application. While testing, the following logline pops up quite often:

[code]

What are the implications of this bug?

We enabled DEBUG logging on Akka and Akka Persistence Cassandra. You can find the logs here:
- Node 1 (this is the one that logged the line above): https://www.dropbox.com/s/aoa2uesvoy09xoe/akka-1.log.gz?

[2018-08-16 11:55] struijenID commented on #382
I can also confirm this is still an issue in 0.88.

[2018-08-16 12:45] bvingerh opened #383 "Persisted events are not always reported via EventsByTagQuery"
We use Akka in a two-node cluster. On the one side we have 40 persistent actors, with persistence IDs 'Sender-01' up to 'Sender-40', that persist various types of events in Cassandra, each tagged 'BCE'.
On the other side we have a set of 11 persistent actors, with persistence IDs 'Receiver-01' up to 'Receiver-11', that start a stream using an EventsByTagQuery. Each receiver actor is configured wit

[2018-08-16 14:49] patriknw opened #384 "Improve performance of deletes over many partitions"

[2018-08-16 16:31] patriknw opened #386 "failed: CassandraCorruptJournalSpec"
In Travis build.

[code]

[2018-08-17 15:04] #386 closed

[2018-08-17 15:04] patriknw commented on #384
also backported to 0.61

[2018-08-17 15:05] #384 closed

[2018-08-20 15:16] patriknw commented on #330
I'll do this now (tomorrow)

[2018-08-20 15:35] chbatey commented on #314
i'll do this as i am upgrading some other plugins

[2018-08-20 16:26] bvingerh commented on #383
- I didn't do the analysis for each and every tagged event; I assume that each tagged event is received by at least one of the receivers, yes. But it may be possible that our application didn't run long enough for all of the listeners to stop working...
- No, we don't use a restart stage as far as I know
- We rely on the actor supervisor to restart the actor holding the stream after a backoff peri

[2018-08-21 14:44] toerni commented on #383
We attempted ourselves to provide a reproduce case. The result can be found below in the zip file as a java 8 maven project.

The setup is as follows
- the test assumes you have a cassandra running on localhost, no login needed
- the test creates a akka cluster consisting out of 2 nodes, running on 1 vm (the junit test in this case)
- the test drops the akka persistence related keyspaces in cassan

[2018-08-22 04:04] jiminhsieh commented on #314
Sorry, I have been busy recently. I did try locally, but I didn't have enough time to finish.

[2018-08-24 02:47] TimMoore opened #390 "Extract CassandraSession and related classes to a separate library"
@WadeWaldron suggested that `CassandraSession` would be useful in Akka/Lagom services that don't use Akka Persistence. For example, something that consumes events from a Kafka topic and updates a Cassandra table. It offers a better, more consistent API than using the underlying DataStax Java driver directly.

This would require adding a new "session" module, and moving classes to it that don't dep

[2018-08-24 04:50] patriknw commented on #390
I agree that CassandraSession would be useful standalone, and that’s why it’s public api in Lagom.

Perhaps it could live in Alpakka Cassandra connector (merging with what is already there)?

[2018-08-24 05:31] TimMoore commented on #390
Would that mean that Akka Persistence Cassandra would depend on the Alpakka Cassandra connector, or that there would be two separate `CassandraSession`s?

I think we'd want to retain the `SessionProvider` as well to make use of automatic service discovery (which we should port from Lagom and base on Akka Service Discovery).

[2018-08-24 06:10] patriknw commented on #390
It would be ok to depend on Alpakka Cassandra here, but that would require that there is no performance loss or other drawbacks in the Alpakka implementation.

[2018-08-24 11:38] struijenID opened #391 "Recovery of persistent actors with different persistence IDs slows down"
Hi,

Recent stress tests of the recovery of persistent actors I performed, reveal that recovering an actor with persistence ID “A” takes significantly longer if another instance of that actor with persistence ID “B” has also persisted some events. Furthermore, while the actor is alive, the higher the amount of events that have been persisted, the longer it takes for an individual persist-call to c

[2018-08-24 12:40] struijenID commented on #391
Turns out lidalia's in memory logger was on the classpath and it was keeping all logmessages in memory, slowing everything down.

Exchanging it with logback solved the issue.

[2018-08-24 12:40] #391 closed

[2018-08-24 13:51] WadeWaldron commented on #390
Let me explain what I am looking for here, if that helps.

When I am working with Lagom Read Models, I have access to a Cassandra Session. However, sometimes I want to access a Cassandra Session outside of a read model (eg. consuming from a Kafka topic). In that case I want to be able to use the same Cassandra Session. I want to avoid having to switch between different implementations. I want one

[2018-08-24 13:53] patriknw commented on #390
It's clear, I agree.

[2018-08-24 14:09] patriknw commented on #391
Thanks

[2018-08-27 02:41] TimMoore commented on #390
@ennru and @2m could you comment on whether you think this should be merged into the Alpakka Cassandra connector?

It makes some sense, because it implements queries using a custom graph stage. On the other hand, it also offers non-streaming convenience APIs for queries and updates that are also very commonly used, so that makes me think that Alpakka might not be appropriate.

[2018-08-31 11:21] johanandren opened #392 "Operation on cassandra session never completing"
See description here: https://discuss.lightbend.com/t/cassandrasession-selectall-never-returns-causing-blocked-thread/1983

Sounds like it could be a bug if the promises neither completes nor fails.

[2018-09-11 11:34] btomala opened #395 "Invalid query when removing the messages in ScyllaDB"
I'm playing around with ScyllaDB and the `akka-persistence-cassandra`. I discovered a bug (from the Scylla perspective only) in a query responsible for deleting messages.

This query cause the problem:
[code]

This query works well:
[code]

Here is a problematic query https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/scala/akka/persistence/cassandra/journal/CassandraStat

[2018-09-11 14:50] chbatey commented on #395
I don't see a problem with that

[2018-09-14 06:37] #395 closed

[2018-09-17 09:32] Reeebuuk commented on #383
I'm seeing the same issue with 0.90

Persist and tag 100 events (100 hits locally on 2 node cluster via gatling over 10 seconds)
Query the `tag_views` and 100 events are there.
eventsByTag replies 95-99 events.

I create one manually and it gets replyed

Another batch of 100. Persisted and tagged.
Again 95-99 replayed BUT some events are from previous batch so now I'm not missing any events from f

[2018-09-17 09:41] SirMullich commented on #383
I'm struggling with the same issue. I have 5-6 akka-clusters that use akka-persistence. Events are persisted to Cassandra but _queryByTag_ in projector (that projects from Cassandra to Elasticsearch) does not project all events. I restart projectors and temporarily solve the problem. I'm using 0.87 version.

[2018-09-17 10:20] Reeebuuk commented on #383
For me the restart doesn't solve the problem cuz most likely I persist the offset of newer event and when restarting it is started from that offset.

[2018-09-19 01:39] SethTisue opened #398 "test on JDK 9+?"
at e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/352/consoleFull I'm seeing

[code]

that's on JDK 9. I don't currently know whether 10 and 11 are also affected. (after Java 11 final is out, I'll start using it instead)

[2018-09-19 03:18] TimMoore commented on #398
The challenge is that Cassandra itself doesn't support running on Java >8 until Cassandra 4.0 (which is not yet released). This project would need to gain the ability to launch Cassandra using a different `JAVA_HOME` than the one running the build & tests.

[2018-09-19 03:31] SethTisue commented on #398
ahhh, okay. well, good to know.

[2018-09-19 10:07] chbatey opened #399 "Consider removing timebucket from messages table"
Or perhaps just the primary key. It was added for the materialized view eventsByTag impl which we've now removed.

[2018-09-27 07:27] chbatey commented on #383
@toerni I ran your reproducer and it does fail some times. However when I changed it to store the message number per persistenceId so I could dig into where the event went with a `final Map<String, Integer> countPerPid = new ConcurrentHashMap<>();` I can't get it to fail however I can't see an issue with using a ConcurrentLinkedQueue as it unbounded and thread safe.

Also when running with a very

[2018-09-27 07:27] chbatey commented on #383
@Reeebuuk for that case we'd need to implement https://github.com/akka/akka-persistence-cassandra/issues/263

[2018-09-27 16:02] Reeebuuk commented on #263
Thx @chbatey for linking these issues. So nobody is using the resuming with eventsByTag?
Clients usually replay the whole journal during boot or?

Resume implementation seemed like a very reasonable and usual thing to do. Is there an ETA for this being implemented/resolved?

[2018-09-28 09:07] luckymanyau opened #401 "akka-persistence-cassandra-launcher documentation & examples"
It would be nice to have documentation and examples on how to use the launcher in unit testing

[2018-10-01 09:20] chbatey opened #402 "EventsByTag: For missing go back further than one bucket."
For new persistenceId / tag combinations it isn't known how far back to go however for missing events for tag/pids that we know the last offset all the possible buckets are known as the stage stores the last offset. Currently the stage just looks at the last bucket and the current one.

[2018-10-01 16:43] chbatey commented on #383
I've had a modified version of the reproducer fail. In this case it was when events were delayed due to the Cassandra/Akka JVMs being overloaded at the end of a time bucket. The stage then goes onto the next bucket and doesn't look back in the previous bucket as no new events come for that tag/pid combination. If others have different scenarios with logs please attach. The solution could also be #

[2018-10-02 07:29] chbatey commented on #263
HI @Reeebuuk this will be planned for the next version

[2018-10-02 07:41] Reeebuuk commented on #263
Great news, thanks @chbatey!

[2018-10-04 14:26] chbatey opened #404 "EventsByTag write batch size: adjust automatically if batch size exceeded"
Cassandra has a max batch size in kbs of the serialized mutation (default 50kb). Setting a default `max-message-batch-size` is hard as it depends on the size of the serialised event.

Cassandra rejects the write with a warning in the response which could be used to change the batch size dynamically otherwise the writes will never succeed.

[2018-10-04 16:35] chbatey opened #405 "EventsByTag: External flush request should respect max batch size"
Currently when a TagWriter receives a `Flush` it builds a batch for the whole buffer. This is typically less than the batch size but can grow larger if lots of events are received and the writes to Cassandra are taken to long

[2018-10-04 16:58] chbatey commented on #404
Given the write will never succeed until the user changes their `max-message-batch-size` I think we should do this asap

[2018-10-05 06:01] patriknw commented on #404
ok, so when we see this exception we automatically decrease the batch size?
I guess that is fine, but making it completely dynamic by trying to increase it again after a while can become more complicated than it's worth. Over time different events may have different sizes.

How does this relate persistAll and atomic writes of several events? We can't split those up.

Apart from persistAll batches

[2018-10-05 08:55] chbatey opened #406 "EventsByTag back pressure"
Events by tag writes are currently fully asynchronous. However if tag writes fall behind we could start slowing down event writes by not completing the asyncWrite Future when the buffer is of a certain size or the events in the buffer are older than the eventual consistency delay?

If the PersistentActor keeps receiving commands they'll end up stashed so it doesn't provide proper back pressure but

[2018-10-05 08:56] chbatey commented on #383
Found another possible issue where as Cassandra responds more slowly the tag writes buffer up meaning that live eventsByTag queries will move past their offset by the time they've been written. I've added in some extra visibility for this while implementing #263 with a log like:

[code]

For most use cases the tag write is more efficient than the normal message writes as they are batched via their

[2018-10-05 13:34] chbatey commented on #404
Yes that would do. Next step could be to add in a check to see if it happens more than once in a given time period to stop a single large event reducing efficiency until restart

[2018-10-15 09:49] chbatey opened #407 "Failed: CassandraCorruptJournalSpec"
[code]

[2018-10-15 15:54] chbatey commented on #383
0.91 released with eventual consistency delay. I have run a modified version (not storing the events in memory so can use larger numbers, minute time bucket to make bucket changing issues more likely)  of the reproducer 100s of times.

[2018-10-15 15:54] #383 closed

[2018-10-18 08:20] TimSoethout opened #408 "0.84: drop in performance every 30(s)"
After a week of debugging I found out that commit where I upgraded `akka-persistence-cassandra` I got this problem. It couldn't be a coincidence that is happened exactly every 30s. Also in a clustered version of the same application the drops would be at the same moment on every node.

Here you see two gatling reports of the same load scenario of the same application with different `akka-persisten

[2018-10-29 15:10] ksmolder opened #410 "EventsByTag: Memory consumption keeps increasing when using unbounded number of persistence ids"
In our application we are currently tagging events written by actors which have a limited lifetime but are unbounded in number (for example: an HTTP call results in the creation of a new instance of this persistent actor and the events persisted by these actors are tagged).

According to our investigation, Memory consumption keeps increasing in this scenario. When analyzing, we saw that the TagWri

[2018-10-31 09:32] chbatey commented on #410
Thanks for the detailed report @ksmolder

You're right we keep around a small object per persistenceId in the TagWriter keeping track of the expected sequenceNr.

I think your use case is valid so we could garbage collect these, perhaps we can watch the persistent actors as the datastrucutre is re-populated when an actor recovers.

[2018-11-05 07:34] #330 closed

[2018-11-06 17:21] umbreak opened #411 "Writing tags failed with NoHostAvailableException and does not recover"
Tag writer fails to write tags. This happens if the [cassandra cluster is started after](https://discuss.lightbend.com/t/tagwriter-fails-if-cassandra-isnt-started-before-lagom-service/907) our application is started. When the cassandra cluster starts afterwards the service, the failure does not recover (even though we keep seeing error logs as if attempting to connect).

It seems to happen also if

[2018-11-07 07:14] chbatey commented on #407
https://travis-ci.org/akka/akka-persistence-cassandra/jobs/451489193

[2018-11-09 21:01] TimMoore opened #413 "Document advice for keyspace/table auto-creation in README"
_Originally posted by @patriknw in https://github.com/akka/akka-persistence-cassandra/issues/148#issuecomment-289263428_

[2018-11-19 11:42] chbatey commented on #382
Looking at the logs it looks like two actors with the persistenceId `PersistenceId-AkkaBroadcasterUtil-AkkaBroadcasterActor-12` ran at the same time. Is that a sharded actor? How do you pick its persistenceId?

[2018-11-19 15:50] struijenID commented on #382
We have not seen this logline pop up the past few months.

A week or so after I created this issue, we did find and fix a bug that was causing presistence IDs to be calculated incorrectly. As a result persistence IDs were being reused when they should not have been.

Thank you for taking the time to review this issue. I am closing it :)

[2018-11-19 15:50] #382 closed

[2018-11-19 16:45] chbatey commented on #382
Thanks for confirming @struijenID

[2018-11-30 08:30] nvollmar commented on #378
Or some functionality to rebuild tagged views on demand would also be sufficient for us

[2018-12-20 12:45] patriknw opened #419 "cassandra-driver and guava dependency"
The Guava dependency was updated in https://github.com/akka/akka-persistence-cassandra/pull/418

In another project depending on akka-persistence-cassandra 0.91 but updated Guava dependency I got this:
[code]

Before releasing 0.92 we should look into this.

[2019-01-03 13:15] #411 closed

[2019-01-03 13:16] #410 closed

[2019-01-04 14:13] #419 closed

[2019-01-16 23:13] SethTisue commented on #364
is it time to revive this?

[2019-01-18 09:21] patriknw commented on #364
yes, we should

[2019-01-24 16:48] struijenID opened #424 "EventsByTag gap-timeout and eventual-consistency-delay"
In v0.91 the cassandra-query-journal.events-by-tag.eventual-consistency-delay config option was added. I am confused about what its significance is in relation to cassandra-query-journal.events-by-tag.gap-timeout and  potentially not processing delayed events.

Until recently, my assumption was that gap-timeout is an interval of time during which events that are received out of order from Cassandr

[2019-02-07 13:37] #364 closed

[2019-02-07 23:16] SethTisue commented on #364
so the cross-build is added, would it be helpful to the Play/Lagom team to have an actual artifact published for M5?

[2019-02-15 22:04] franbh opened #430 "EventsByTag query: duplicate sequence number warnings after a Split Brain"
The eventsByTag query seems to be stuck after a Split Brain has occurred, logging the same warning over and over again every 3 seconds:
`Duplicate sequence number. Persistence id: XXX. Tag: YYY. Expected sequence nr: 418. Actual 1. This will be dropped.`

How can this be fixed?

[2019-02-18 14:59] chbatey commented on #430
That log doesn't fail the stream it just highlights that you have duplicate sequence nrs.

What behaviour do you want for a fix? Something like the replay filter for a persistent actor for the read side? https://doc.akka.io/docs/akka/2.5/persistence.html#replay-filter
Or do you want an automated tool to clean up a log? If so you'd need to be in control of which events are deleted / kept.

Having m

[2019-02-19 07:33] patriknw commented on #424
Sorry for delay in responding here. Have you also seen the description in https://github.com/akka/akka-persistence-cassandra/blob/master/EventsByTag.md#consistency

In summary. `eventual-consistency-delay` means that it will not read the very latest tail of events but lag behind to be able to collect delayed events before sorting and delivering them. This gives a better global ordering of the even

[2019-02-19 08:22] chbatey commented on #424
Two scenarios we need a `eventual-consistency-delay` rather than just relying on the `gap-timeout` is:
* for persistenceIds that we haven't seen yet in the events by tag stream that aren't starting from sequenceNr1
* for when we miss a delayed event for a known sequence nr but then there isn't another one for some time so we don't know there is a gap

[2019-02-26 14:55] johanandren opened #432 "Migration tool cannot handle custom config namespaces"
The `EventsByTagMigration` utility uses the default config namespace (`cassandra-journal`) and does currently not support specifying a custom namespace for the config to use making it impossible to migrate such a database.

[2019-02-26 15:04] milanvdm commented on #432
@johanandren Thanks for picking this up.
If you need any assistance testing your solution, let me know.

[2019-02-27 09:21] #432 closed

[2019-02-27 10:43] johanandren commented on #432
@milanvdm there's now a 0.93-snapshot that you can try out, something like this with sbt:

[code]

[2019-03-06 11:39] ihostage opened #434 "Dropwizard Metrics 4 compatibility"
See https://docs.datastax.com/en/developer/java-driver/3.5/manual/metrics/#metrics-4-compatibility

[2019-03-12 09:05] #434 closed

[2019-03-13 09:30] thomschke opened #438 "Consistency level "ONE" by default in cassandra-snapshot-store can be too weak."
The read/write consistency level by default in cassandra-snapshot-store is "ONE".

https://github.com/akka/akka-persistence-cassandra/blob/8090f4db3d60e614ad9bce4d1ae38b2f07e0e34c/core/src/main/resources/reference.conf#L532-L536

Depending on the current event rate and snapshot interval this default value can be too weak and should be changed to "QUORUM".

[2019-03-13 10:21] patriknw commented on #438
I think it would only be a problem if you are deleting events too eagerly, otherwise it shouldn't matter if it doesn't see the latest snapshot since it will just start from an older snapshot and replay events from there. Do I miss something?

[2019-03-13 11:22] thomschke commented on #438
Hi @patriknw, I agree with your comment: `read-consistency = "ONE" ` is enough, because the common case for akka-persistence is "append-only events". And if snapshot data can be lost then `write-consistency = "ONE"` is enough too. Sorry for my ill-considered question.

[2019-03-13 11:22] #438 closed

[2019-03-14 07:06] patriknw commented on #438
no problem, thanks for asking

[2019-03-14 07:06] patriknw commented on #438
I'll add the rationale to the comment in reference.conf

[2019-03-19 09:10] ennru commented on #314
Current sbt version is 1.2.6.
Closing.

[2019-03-19 09:10] #314 closed

[2019-03-25 12:40] patriknw opened #442 "batch covering many partitions for tag_scanning"
[code]

Reported by @franbh, thanks

[2019-04-05 09:56] darshak28 opened #443 "Does Cassandra Journal write-retries work as intended in case of NoHostAvailable exception?"
@pwilby, @chbatey ,@patriknw : I have one question regarding Journal writes. We are testing behaviour of write-retries and read-retries of Cassandra-journal and the question is whether it works as intended in-case of NoHostavailable exceptions? We are following below test steps and we are seeing journal writes fails. [since Persistent Actor dies]

**Scenario:**
1)Start the application (this will c

[2019-04-09 11:08] darshak28 commented on #411
@umbreak I have one question regarding Journal writes. We are testing behaviour of write-retries and read-retries of Cassandra-journal and the question is whether it works as intended in-case of NoHostavailable exceptions? We are following below test steps and we are seeing journal writes fails. [since Persistent Actor dies]

**Scenario:**
1)Start the application (this will cause the keyspaces to

[2019-04-11 05:16] opharabot opened #444 "java.lang.IllegalStateException during Persistent Actor restore"
All,

I am facing an issue since upgrading to Akka 2.5.21 and akka_persistence_cassandra 0.93. I see many error logs concerning persistent actors during the restore phase. I since then applied some retry logic to work the problem around, but i thought it would be useful raising the issue.
Basically when restoring the actor, i get the following error in the logs

[code]

It seems difficult to toggl

[2019-04-11 11:54] chbatey commented on #424
Let's leave this open and make sure this is covered in the docs

[2019-04-11 14:30] #324 closed

[2019-04-11 14:30] #318 closed

[2019-04-11 14:38] ennru opened #445 "Reconnect to Cassandra after IP address changes"
### Short description

Especially when running Cassandra in Kubernetes a pod restart will change Cassandra's IP address. Could Akka Persistence Cassandra make a new service lookup when that happens?

### Details

_Added by @TimMoore 18 Apr 2019_

There are a few layers to the problem.

Lagom interfaces with Akka Persistence Cassandra by implementing a custom `SessionProvider` that looks up the Cas

[2019-04-11 17:37] TimMoore opened #446 "Update Cassandra Java Driver to 4.x"
DataStax has made a major redesign of the Java driver, not binary compatible: https://docs.datastax.com/en/developer/java-driver/4.0/upgrade_guide/

It's still backwards compatible with Cassandra clusters back to 2.1.

It could make sense to update before releasing Akka Persistence Cassandra 1.0.0.

[2019-04-11 17:37] TimMoore opened #491 "Update Cassandra Java Driver to 4.x"
DataStax has made a major redesign of the Java driver, not binary compatible: https://docs.datastax.com/en/developer/java-driver/4.0/upgrade_guide/

It's still backwards compatible with Cassandra clusters back to 2.1.

It could make sense to update before releasing Akka Persistence Cassandra 1.0.0.

[2019-04-11 22:15] patriknw commented on #446
Looks like there are many good improvements, based on reading the update guide.
- Typesafe config
- separate async api
- cached prepared stmt
- no guava

[2019-04-12 05:36] patriknw commented on #445
Isn’t it handled by the connection pool in the driver?

[2019-04-13 09:54] patriknw commented on #445
You mean that it is a problem when the entire Cassandra cluster is restarted, with new IP adresses?

[2019-04-13 11:18] TimMoore commented on #445
That’s right @patriknw

[2019-04-15 12:25] chbatey commented on #444
Thanks for reporting @opharabot

Could you share your code or describe how you're using persistent actors?

The logs are quite puzzling, the watch is happening for two different persistenceIds but for the same ActorRef:

PersistenceId1: `example.com:additional1:dependant:shared:transaction-Transaction-7878-@testcreatetransactionsfromcsvperformance-a5620399-ba15-4a87-83a3-e1d67da834b0`
PersistenceI

[2019-04-15 21:33] dpennell commented on #445
note that this can happen over time.  i.e. if all of the nodes in the cassandra cluster are restarted one at a time, all services will lose connectivity with the cassandra cluster and have to be restarted.

[2019-04-16 06:18] patriknw commented on #445
I thought that the driver would exchange contact points with the servers to be able to use new nodes for re-connects (as long as not the entire cluster is restarted at once), but that’s only my assumption without knowing. Anyway, that would also be solved by this.

[2019-04-16 10:23] chbatey commented on #445
This sounds like a problem with the driver for when nodes come back with a different IP but are replacing an existing host id. Perhaps raise upstream? Also, include details of how Cassandra is being deployed in Kubernetes.

[2019-04-16 11:47] dpennell commented on #445
@patriknw I also assumed that the driver would learn of node changes, but that does not match observations.
@chbatey cassandra was deployed using https://github.com/helm/charts/tree/master/incubator/cassandra with 3 replicas.  Lagom services pointed at the cassandra statefulSet created by this helm chart.  We first noticed the issue when running low on resources and having cassandra pods regularly

[2019-04-18 05:14] TimMoore commented on #445
Sorry, @ennru jotted this down after a quick in-person conversation, but I can add some more context to this. There are a few layers to the problem.

Lagom interfaces with Akka Persistence Cassandra by implementing a custom `SessionProvider` that looks up the Cassandra contact points in the `ServiceLocator` (essentially a DNS SRV query in Kubernetes) and uses the results to build the Cassandra `Se

[2019-04-19 20:16] TimSoethout commented on #444
I'm having similar issues:

debug log excerpts:
[code]

later
[code]

It indeed seems to be some weird case that the same actor has two different persistence id's. In this application I use the ActorPath without address as persistence id.

[2019-04-23 11:14] chbatey commented on #445
Thanks for the clarification

+100

[2019-04-23 13:19] kasper-f commented on #444
We experience the same problem, and after the logs above we experience log lines with ```akka.persistence.cassandra.query.EventsByTagStage -  -  - [3112ca80-d7df-462e-a33c-7628a40b2c11] Duplicate sequence number.  ...... Expected sequence nr: 149. Actual 1. This will be dropped.```
 for our persistent Sharding actors.

It looks like the actor think it has recovered successful and starts persistenc

[2019-04-25 09:33] patriknw commented on #444
Not sure it's related but there was a bug in `watchWith, fixed in 2.5.22. https://github.com/akka/akka/issues/26625

[2019-04-25 09:34] patriknw commented on #444
No, happens with 2.5.22 too

[2019-04-25 09:42] chbatey commented on #444
I've found at least one issue with the Watching it isn't the same as this one. However the fix simplifies the places where a watch can be triggered from. #447

[2019-04-25 10:46] franbh commented on #442
A bit more context on this issue:
- akka-persistence-cassandra 0.91 or 0.93 depending on the microservice
- akka 2.5.18
- lagom 1.4.7: we are using sharded tags for `ReadSideProcessors` (currently 20 shards), and usually multiple `PersistentEntities` per microservice.
- C* 3.0.16

[2019-04-25 12:10] chbatey commented on #444
After further thought we think #447 will fix this, it it just hard to reproduce it exactly unless under load / lots of actors starting / restarting. I'll release a new version today with the fix.

[2019-04-25 13:14] patriknw opened #449 "Optimization to avoid HighestDeletedSequenceNumber query from metadata table"
If an application is not using deletes it is unnecessary to query the metadata table for highest deleted sequence number. We can have a config option to opt out from deletes and then skip that query on recovery.

[2019-04-25 13:59] jrudolph commented on #449
Is that table updated only for deletes done using the persistence API? In that case, we should then prevent the delete API from being used if that config option is set, right?

[2019-04-25 14:21] patriknw commented on #449
Exactly, if this flag is set then we would reject any delete attempts. It can't protect against deletes made in the past before setting the flag ("you have to know what you are doing").

[2019-04-25 14:28] thehutgroup-adamryan opened #450 "Snapshot deletion does not work when an actor has more than 65535 snapshots."
### Versions used
akka-persistence-cassandra: 0.25
akka: 2.4.16

### Expected Behavior
When calling the deleteSnapshots method in an Akka Actor with a criteria containing a minimum and maximum snapshot sequence number these should be deleted in the database in an efficient manner.

### Actual Behavior
If the difference between the minimum and maximum snapshot sequence numbers is greater than 65535

[2019-04-25 14:40] jrudolph commented on #449
Could we add a single check on startup of the entity to prevent that situation?

[2019-04-25 14:41] jrudolph commented on #449
I guess not because that would do the same amount of work than we are trying to avoid.

[2019-04-25 14:58] patriknw commented on #449
exactly, and I don't think we can do a single query to check if the table is empty, because of the partitioning by persistenceId primaryKey

[2019-04-25 16:12] #444 closed

[2019-04-26 09:36] #449 closed

[2019-04-29 13:35] umbreak opened #457 "events not stored in tag_views, tag_write_progress and tag_scanning"
### Versions used

0.92, 0.93, 0.94 and 0.95 (latest)

### Expected Behavior

When an event gets stored in the **messages** table, it should get stored in the tables **tag_views**, **tag_write_progress** and **tag_scanning** (as long as the event has a tag associated to it).

### Actual Behavior

When creating events in a burst fashion ( 15 events/second or more) sometimes the events do not get st

[2019-04-29 16:23] thomschke commented on #442
Same issue:

- akka-persistence-cassandra 0.94
- akka 2.5.22
- lagom 1.5.0 (shared tags with 9 shards)
- cassandra 3.11.4

[2019-05-05 14:47] chbatey commented on #444
Thanks for the update, let us know how it goes

On Sun, May 5, 2019 at 11:03 AM opharabot <notifications@github.com> wrote:

[2019-05-07 11:05] milanvdm commented on #457
We have the exact same issue. We opened a commercial support ticket for this.

[2019-05-07 12:37] johanandren commented on #457
Hi @umbreak, it would be great if you could provide some more details: do you see any warnings or errors in the logs, is there any other configuration you have changed from the defaults?

[2019-05-07 13:06] umbreak commented on #457
I've re-run some tests and it does not show any error/warning log, even though after pushing 3000 events, there is one missing. Some other times it shows some error logs like

[code]

However, the resources shown on the error are not related to the events which do not appear on the tag_* tables. So I guess that's something different.

You can obtain our cassandra configuration [here](https://githu

[2019-05-07 13:21] johanandren commented on #457
Which version was that error with, looks like it may be an actual clue (line doesn't match up with 0.96 which is what the repo says)?

The tag writer is shared for the journal, so error for unrelated events could potentially still be trouble.

[2019-05-07 13:30] umbreak commented on #457
That error I picked up from our production environment, which is 0.92

[2019-05-07 13:35] johanandren commented on #457
Ok, the interesting part would be to see errors from 0.95 and later since there was fixes around htis, I think that particular error was fixed by #447

[2019-05-07 13:39] chbatey commented on #457
Hi @umbreak what do you mean by `if from cassandra we fetch the specific id`? Do you mean doing a cassandra query makes them show up? Could you send an example query?

Or do you mean restarting a persistent actor for that id makes them show up?

If it is the former then that is very strange behaviour from Cassandra. If it is the latter it sounds like for some reason the events aren't getting flush

[2019-05-07 13:57] umbreak commented on #457
What I mean by `if from cassandra we fetch the specific id` is:
[code]

I'm trying to reproduce once more the error, but right now I can't make it happen. I'll continue testing

[2019-05-07 14:00] chbatey commented on #457
I wouldn't expect running a `currentEventsByPersistenceId to fix the tag_* tables. Only recovering a persistent actor runs the reconciliation process

[2019-05-07 14:11] thirdteeth opened #459 "How long the eventual-consistency-delay should be set for eventsByTag query"
Hi team,
we have an application with multiple node akka cluster use akka persistent as write side and use eventsByTag query to get events form cassandra journal, processed and stored in elastic search as read side.

we set the cassandra-journal.pubsub-notification=on and eventual-consistency-delay=0 to reduce the delay of events go to read side, but there are events lost in the query,

I found a t

[2019-05-07 14:17] milanvdm commented on #457
We had the same behavior though. When we ran a `by-id` query on akka-persistence, the event with that persistence_id appeared in the tag_view afterwards.

[2019-05-09 08:23] patriknw opened #460 "Wrong eventual-consistency-delay = 0s comment in reference.conf"
Is the recommendation correct to set `eventual-consistency-delay = 0s` here https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/resources/reference.conf#L319 ?

Shouldn't it have some eventual-consistency-delay also when pub-sub is enabled for the reasons stated in https://github.com/akka/akka-persistence-cassandra/blob/master/EventsByTag.md#consistency